﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CardSection>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<div class="row">
    @if (Model.Content.Children.Where(x => x.DocumentTypeAlias == "card").Any())
    {
        var children = Model.Content.Children.Where(x => x.DocumentTypeAlias == "card");
        foreach (var element in children)
        {
            var maxCols = 12;
            var minCols = 3;
            var targetCols = maxCols / children.Count();
            if (targetCols < minCols)
            {
                targetCols = minCols;
            }
            var style = string.Format("col-md-{0}", targetCols);
            <div class="col-sm-6 @style">
                @MvcHtmlString.Create(library.RenderTemplate(element.Id))
            </div>
        }
    }
</div>
