﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Card>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
@functions{
    private string GetStyle()
    {
        var className = "card";

        if (string.IsNullOrEmpty(Model.Content.BackgroundColour))
        {
            return className;
        }

        if (Model.Content.BackgroundColour == "Grey")
        {
            className += " grey";
        }
        else if (Model.Content.BackgroundColour == "White")
        {
            className += " white";
        }
        return className;
    }

    private string GetBodyStyle()
    {
        var className = "card-body";

        if (string.IsNullOrEmpty(Model.Content.TextAlign))
        {
            return className;
        }

        if (Model.Content.TextAlign == "Left")
        {
            className += " text-left";
        }
        else if (Model.Content.TextAlign == "Centre")
        {
            className += " text-center";
        }
        else if (Model.Content.TextAlign == "Right")
        {
            className += " text-right";
        }
        return className;
    }

    private string GetLinkStyle()
    {
        var className = "";

        if (string.IsNullOrEmpty(Model.Content.LinkStyle))
        {
            return className;
        }

        if (Model.Content.LinkStyle == "Button")
        {
            className += "button blue";
        }

        return className;
    }

    private bool HasLinkStyle()
    {
        if (Model.Content.LinkStyle == "Button")
        {
            return true;
        }

        return false;
    }

    private string GetTarget(Umbraco.Web.Models.RelatedLink link)
    {
        var defaultTarget = "_self";
        if (link == null)
        {
            return defaultTarget;
        }
        if (link.NewWindow)
        {
            return "_blank";
        }
        return defaultTarget;
    }

    private string GetImageStyle()
    {
        var css = "image";

        if (Model.Content.IsIcon)
        {
            css += " icon";
        }
        return css;
    }
}


<div class="@GetStyle()">
    @if (Model.Content.Image != null)
    {
        <div class="@GetImageStyle()" style="background-image:url('@Model.Content.Image.Url')"></div>
    }
    <div class="@GetBodyStyle()">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h2 class="card-title">@Model.Content.Title</h2>
        }
        @if (Model.Content.Details != null)
        {
            <div class="card-text">@Html.Raw(Model.Content.Details)</div>
        }
        @if (Model.Content.Link != null && Model.Content.Link.Any())
        {
            var link = Model.Content.Link.First();
            <a href="@link.Link" target="@GetTarget(link)" class="@GetLinkStyle()">
                @link.Caption
                @if (!HasLinkStyle())
                {
                    <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                }
            </a>
        }
    </div>
</div>
