﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarouselPageHeader>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    int index = 0;
}

@functions{
    private string GetButtonStyling(Archetype.Models.ArchetypeFieldsetModel slide)
    {
        var css = "button";
        var settingValue = slide.GetValue<string>("linkColour");
        if (settingValue == "Teal")
        {
            css += " teal";
        }
        else
        {
            css += " opaque";
        }
        return css;
    }
}
<div id="page-header-carousel" class="carousel slide" data-ride="carousel">
    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">

        @foreach (var item in Model.Content.Slides)
        {
            var bg = item.GetValue<IPublishedContent>("backgroumdImage");
            var body = item.GetValue<IHtmlString>("body");
            var title = item.GetValue<string>("title");
            var linkTitle = item.GetValue<string>("linkTitle");
            var linkUrl = item.GetValue<IPublishedContent>("link");
            var curve = item.GetValue<string>("curve");

            var isCurve = curve != "None" && !string.IsNullOrEmpty(curve);
            var curveCss = "";

            switch (curve)
            {
                case "Red":
                    curveCss = "curves red";
                    break;
                case "Blue":
                    curveCss = "curves blue";
                    break;
                case "Orange":
                    curveCss = "curves orange";
                    break;
                case "Teal":
                    curveCss = "curves teal";
                    break;
                case "Gold":
                    curveCss = "curves gold";
                    break;
            }

            <div class="item @(index == 0 ? "active" : "")">
                <section class="page-header @curveCss" style="background-image: url('@bg.Url')">

                    @if (isCurve)
                    {
                        <div class="right-blue-bg">
                        </div>
                    }
                    <div class="container-fluid">

                        @if (isCurve)
                        {
                            <div class="curve-outer">
                                <div class="curve">
                                    <div class="inner"></div>
                                </div>
                            </div>
                            <div class="overlay">
                                <div class="text">
                                    <h1>@title</h1>
                                    @body
                                    <a class="@GetButtonStyling(item)" href="@(linkUrl == null ? "#" : linkUrl.Url)">@linkTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="overlay">
                                <h1>@title</h1>
                                @body
                                <a class="@GetButtonStyling(item)" href="@(linkUrl == null ? "#" : linkUrl.Url)">@linkTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                            </div>
                        }
                    </div>
                </section>
            </div>

            index++;
        }


    </div>
    <div class="container-fluid">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            @{
                index = 0;
                for (int i = 0; i < Model.Content.Slides.Count(); i++)
                {
                    <li data-target="#page-header-carousel" data-slide-to="@i" class=" @(index == 0 ? "active" : "")"></li>
                    index++;
                }
            }

            @*<li data-target="#page-header-carousel" data-slide-to="1" class="active"></li>
                <li data-target="#page-header-carousel" data-slide-to="2" class=""></li>*@
        </ol>
    </div>
</div>

