﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CarouselPageHeader>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    int index = 0;
}

<div id="page-header-carousel" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner" role="listbox">
        @foreach (var item in Model.Content.Carousel)
        {
            var display = item.GetPropertyValue<bool>("isDisplayed");
            var bg = item.GetPropertyValue<IPublishedContent>("image");
            var body = item.GetPropertyValue<IHtmlString>("body");
            var title = item.GetPropertyValue<string>("title");
            var linkTitle = item.GetPropertyValue<string>("linkTitle");
            var linkUrl = item.GetPropertyValue<IPublishedContent>("link");
            var curve = item.GetPropertyValue<string>("curve");

            var isCurve = curve != "None" && !string.IsNullOrEmpty(curve);
            var curveCss = "";

            switch (curve)
            {
                case "Red":
                    curveCss = "curves red";
                    break;
                case "Blue":
                    curveCss = "curves blue"; 
                    break;
                case "Orange":
                    curveCss = "curves orange";
                    break;
                case "Teal":
                    curveCss = "curves teal";
                    break;
                case "Gold":
                    curveCss = "curves gold";
                    break;
            }

            if (display)
            {
                <div class="item @(index == 0 ? "active" : "")">
                    <section class="page-header @curveCss" style="background-image: url('@bg.Url')">
                        @if (isCurve)
                        {
                            <div class="right-blue-bg">
                            </div>
                        }
                        <div class="container-fluid">
                            @if (isCurve)
                            {
                                <div class="curve-outer">
                                    <div class="curve">
                                        <div class="inner"></div>
                                    </div>
                                </div>
                                <div class="overlay">
                                    <div class="text">
                                        <h1>@title</h1>
                                        @body
                                        <a class="@GetButtonStyling(item)" href="@(linkUrl == null ? "#" : linkUrl.Url)">@linkTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="overlay">
                                    <h1>@title</h1>
                                    @body
                                    <a class="@GetButtonStyling(item)" href="@(linkUrl == null ? "#" : linkUrl.Url)">@linkTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                                </div>
                            }
                        </div>
                    </section>
                </div>
            }

            index++;
        }
    </div>
    <div class="container-fluid">
        <ol class="carousel-indicators">
            @{
                index = 0;
                var slidesCount = Model.Content.Carousel.Where(item => item.GetPropertyValue<bool>("isDisplayed")).Count();
                for (int i = 0; i < slidesCount; i++)
                {
                    <li data-target="#page-header-carousel" data-slide-to="@i" class=" @(index == 0 ? "active" : "")"></li>

                    index++;
                }
            }
        </ol>
    </div>
</div>

@functions{
    private string GetButtonStyling(IPublishedContent slide)
    {
        var css = "button";

        var settingValue = slide.GetPropertyValue<string>("linkColour");
        if (settingValue == "Teal")
        {
            css += " teal";
        }
        else
        {
            css += " opaque";
        }

        return css;
    }
}