﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{

    var parent = Model.Content.AncestorOrSelf<ContentPage>();
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", parent)

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}


@if (Model.Content.PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
}
else if ((!Model.Content.DoNotUseParentPageHeader) && Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PageHeader != null && Model.Content.Parent<SectionSubPage>().PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PageHeader.First().Id))
}

<section class="page-header">
    <div class="container-fluid">
        @Html.Raw(Model.Content.TopContent)
    </div>
</section>

<section class="content-full-width">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    @if (Model.Content.Tabs != null && Model.Content.Tabs.Any())
                    {
                        @Html.Partial("/Views/Partials/Tabs.cshtml", Model.Content.Tabs)
                    }
                    @Html.Raw(Model.Content.BottomContent)
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Content.PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PromoBanner.First().Id))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PromoBanner != null && Model.Content.Parent<SectionSubPage>().PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PromoBanner.First().Id))
}

@if (Model.Content.Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Icons.Select(n => new Link(n)))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().Icons != null && Model.Content.Parent<SectionSubPage>().Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Parent<SectionSubPage>().Icons.Select(n => new Link(n)))
}








