﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{

    var parent = Model.Content.AncestorOrSelf<ContentPage>();
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", parent)

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

@if (Model.Content.PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
}
else if (!Model.Content.DoNotUseParentPageHeader && Model.Content.Parent != null)
{
    if (Model.Content.Parent<ContentPage>() != null && Model.Content.Parent<ContentPage>().PageHeader != null && Model.Content.Parent<ContentPage>().PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<ContentPage>().PageHeader.First().Id))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PageHeader != null && Model.Content.Parent<SectionSubPage>().PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PageHeader.First().Id))
    }
}


<section class="content-with-left-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="content">
                    @Html.Raw(Model.Content.TopContent)

                    @if (Model.Content.Tabs != null && Model.Content.Tabs.Any())
                    {
                        if (Model.Content.TabStyle == "Accordion")
                        {
                            @Html.Partial("/Views/Partials/Accordion.cshtml", Model.Content.Tabs)
                        }
                        else
                        {
                            @Html.Partial("/Views/Partials/Tabs.cshtml", Model.Content.Tabs)
                        }

                    }

                </div>
            </div>

        </div>
    </div>
</section>

@if (Model.Content.PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PromoBanner.First().Id))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PromoBanner != null && Model.Content.Parent<SectionSubPage>().PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PromoBanner.First().Id))
}
else if (Model.Content.Parent<ContentPage>() != null && Model.Content.Parent<ContentPage>().PromoBanner != null && Model.Content.Parent<ContentPage>().PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<ContentPage>().PromoBanner.First().Id))
}

@if (Model.Content.Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Icons.Select(n => new Link(n)))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().Icons != null && Model.Content.Parent<SectionSubPage>().Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Parent<SectionSubPage>().Icons.Select(n => new Link(n)))
}
else if (Model.Content.Parent<ContentPage>() != null && Model.Content.Parent<ContentPage>().Icons != null && Model.Content.Parent<ContentPage>().Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Parent<ContentPage>().Icons.Select(n => new Link(n)))
}




