﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContactUs>
@{
    var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
    var offices = settings.Descendants<RegionalOffice>().Where(n => n.HideFromContactUsPage != true);
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml")

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

<section id="content">
    @if (Model.Content.PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
    }
    <section class="features icons contact">
        <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model.Content.Icons)
                {
                    var icon = new Link(item);
                    <div class="col-sm-4">
                        <div class="feature">
                            <div class="image" style="background-image:url('@icon.Icon.Url')"></div>
                            <h2>@icon.LinkTitle</h2>
                            @Html.Raw(icon.Body)
                        </div>
                    </div>
                }

            </div>
        </div>
    </section>

    <section class="grey-feature map">
        <div class="container-fluid">
            <div class="bg" style="background-image:url('@Model.Content.MapBackground.Url')">
                <div class="overlay">

                    @Model.Content.MapBody
                    <a class="button blue" href="@Model.Content.MapLinkUrl" target="_blank">
                        @Model.Content.MapLinkTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="offices">
        <div class="container-fluid">
            <h2>Our regional offices</h2>
            <div class="row">
                @{
                    int index = 1;
                    foreach (var item in offices)
                    {

                        var office = new RegionalOffice(item);
                        <div class="col-sm-3">
                            <div class="office">
                                <h3>@office.Title</h3>
                                @Html.Raw(office.Address)
                                @Html.Raw(office.OpeningHours)
                                @if (!string.IsNullOrEmpty(office.MapUrl))
                                {
                                    <a href="@office.MapUrl" target="_blank">View map<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                                }
                            </div>
                        </div>
                        if (index % 4 == 0)
                        {
                        @:</div>
                    }
                    if (index % 4 == 0)
                    {
                        @:<div class="row">
                        }

                        index++;
                    }
                }
            </div>





        </div>
    </section>

    <section class="content">
        <div class="container-fluid">
            @Html.Partial("/Views/Partials/Tabs.cshtml", Model.Content.Tabs)
        </div>
    </section>

</section>