﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.CTA>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
    var link = Model.Content.Link != null ? Model.Content.Link.FirstOrDefault() : null;
}
@functions{

    private string DocumentTypeStyle(CTadocument document)
    {
        if (document.FileToDownload != null)
        {
            var extension = document.FileToDownload.GetPropertyValue<string>("umbracoExtension");
            switch (extension.ToLowerInvariant())
            {
                case "pdf":
                    return "pdf";
            }
        }

        return "url";
    }

    private string GetFileSize(CTadocument document)
    {
        if (document.FileToDownload == null)
        {
            return string.Empty;
        }
        var bytes = Convert.ToInt64(document.FileToDownload.GetPropertyValue<string>("umbracoBytes"));
        var x = ((Math.Round(Convert.ToDecimal(bytes) / 1048576, 1)).ToString() + "MB");
        var y = ((Math.Round(Convert.ToDecimal(bytes) / 1024, 1)).ToString() + "KB");
        var z = (bytes >= 1048576) ? x : y;

        return "(" + z.ToString() + ")";
    }

    private string AppendTradeDoublerInformation(Umbraco.Web.Models.RelatedLink link)
    {
        var tduid = HttpContext.Current.Request.Cookies["TD_Cookie"]?.Value;

        if (tduid != null && Model.Content.IncludeTradeDoublerOnExternalLink && !link.IsInternal)
        {
            var uriBuilder = new UriBuilder(link.Link);
            var query = HttpUtility.ParseQueryString(uriBuilder.Query);
            query["tduid"] = tduid;
            if (Model.Content.TradeDoublerRedirectUrl != null)
            {
                query["url"] = Model.Content.TradeDoublerRedirectUrl.FirstOrDefault().Link;
            }
            uriBuilder.Query = query.ToString();
            return uriBuilder.ToString();
        }
        return link.Link;
    }
}

<section class="how-to-apply">
    @if (link != null)
    {
        var linkTarget = (link.NewWindow) ? "_blank" : null;
        <div class="apply-button">
            <a class="button blue" href="@AppendTradeDoublerInformation(link)" target="@linkTarget">@link.Caption<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
        </div>
    }
    <h2>@Model.Content.Heading</h2>
    @Html.Raw(Model.Content.Details)

    @if (Model.Content.DocumentsOrLinks != null && Model.Content.DocumentsOrLinks.Any())
    {
        <div class="documents">
            @foreach (var docOrLink in Model.Content.DocumentsOrLinks.Select(x => new CTadocument(x)))
            {
                <div class="document @DocumentTypeStyle(docOrLink)">
                    <p class="link">
                        @if (docOrLink.FileToDownload != null)
                        {
                            <a href="@docOrLink.FileToDownload.Url" title="@docOrLink.FileDownloadCaption" target="_blank" rel="noopener">@docOrLink.FileDownloadCaption</a> @GetFileSize(docOrLink)
                        }
                        @Html.Raw(docOrLink.Details)
                    </p>
                    <p></p>
                </div>
            }
        </div>
    }
</section>