﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.DocumentLibrary>

@functions {
    private int GetDocSize(Document doc)
    {
        var link = doc.Link.FirstOrDefault();
        if (link != null)
        {
            return link.GetPropertyValue<int>("umbracoBytes") / 1024;
        }
        return 0;
    }

}
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    // get all documents
    var documents = Model.Content.Children.Select(n => new Document(n)).ToList();

    // split into business and personal
    var business = documents.Where(n => n.Business).ToList();
    var personal = documents.Where(n => n.Personal).ToList();

    // Get Products by each type
    var businessProducts = business.Where(n => n.Product != null && n.Product.Any()).Select(n => n.Product.First().Name).Distinct().ToList();
    var personalProducts = personal.Where(n => n.Product != null && n.Product.Any()).Select(n => n.Product.First().Name).Distinct().ToList();

    var noProductDocs = documents.Where(n => n.Product == null || !n.Product.Any());

    // Get all categories
    var categories = documents.Where(n => n.Category != null && n.Category.Any()).Select(n => n.Category.First().Name).Distinct().ToList();
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml")

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

<section id="content">
    @if (Model.Content.PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
    }

    <section class="content-full-width">
        <div class="container-fluid">

            <div class="content">
                @Html.Raw(Model.Content.Intro)

                <div id="tabs" class="tabs hidden-sm hidden-xs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li role="presentation" class="even active"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Business Documents</a></li>
                        <li role="presentation" class=""><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Personal Documents</a></li>
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="tab-1" role="tabpanel" class="tab-pane active">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="business-product">Filter by product</label>
                                        <select id="business-product">
                                            <option value="all">All</option>
                                            @foreach (var product in businessProducts)
                                            {
                                                <option value="@product">@product</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="business-category">Filter by category</label>
                                        <select id="business-category">
                                            <option value="all">All</option>
                                            @foreach (var category in categories)
                                            {
                                                <option value="@category">@category</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table-striped documents" id="business-documents">
                                    <caption class="sr-only">Fixed Rate Bonds</caption>
                                    <thead>
                                        <tr>
                                            <th class="normal subtitle">Product</th>
                                            <th class="normal subtitle">Category</th>
                                            <th class="normal subtitle">Document</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var doc in business)
                                        {
                                            var products = doc.Product.Select(n => n.Name).ToList();
                                            var category = doc.Category == null ? "" : doc.Category.FirstOrDefault() == null ? "" : doc.Category.First().Name;
                                            var url = doc.Link == null || !doc.Link.Any() ? "#" : doc.Link.First().Url;
                                            //var productList = string.Join(", ", products);

                                            if (products.Any())
                                            {
                                                foreach (var product in products)
                                                {
                                                    <tr data-product="@product" data-category="@category">
                                                        <td>@product</td>
                                                        <td>@category</td>
                                                        <td>
                                                            <div class="document pdf">
                                                                <p class="link"><a href="@url" target="_blank">@doc.Name.</a> (@(GetDocSize(doc))kb)</p>
                                                                @Html.Raw(doc.Description)
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr data-product="" data-category="@category">
                                                    <td></td>
                                                    <td>@category</td>
                                                    <td>
                                                        <div class="document pdf">
                                                            <p class="link"><a href="@url" target="_blank">@doc.Name.</a> (@(GetDocSize(doc))kb)</p>
                                                            @Html.Raw(doc.Description)
                                                        </div>
                                                    </td>
                                                </tr>
                                            }

                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                        <div id="tab-2" role="tabpanel" class="tab-pane">

                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="personal-product">Filter by product</label>
                                        <select id="personal-product">
                                            <option value="all">All</option>
                                            @foreach (var product in personalProducts)
                                            {
                                                <option value="@product">@product</option>
                                            }
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="personal-category">Filter by category</label>
                                        <select id="personal-category">
                                            <option value="all">All</option>
                                            @foreach (var category in categories)
                                            {
                                                <option value="@category">@category</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>

                            <div class="table-responsive">
                                <table class="table-striped documents" id="personal-documents">
                                    <caption class="sr-only">Fixed Rate Bonds</caption>
                                    <thead>
                                        <tr>
                                            <th class="normal subtitle">Product</th>
                                            <th class="normal subtitle">Category</th>
                                            <th class="normal subtitle">Document</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        @foreach (var doc in personal)
                                        {
                                            var products = doc.Product.Select(n => n.Name).ToList();
                                            var category = doc.Category == null ? "" : doc.Category.FirstOrDefault() == null ? "" : doc.Category.First().Name;
                                            var url = doc.Link == null || !doc.Link.Any() ? "#" : doc.Link.First().Url;
                                            //var productList = string.Join(", ", products);

                                            if (products.Any())
                                            {
                                                foreach (var product in products)
                                                {
                                                    <tr data-product="@product" data-category="@category">
                                                        <td>@product</td>
                                                        <td>@category</td>
                                                        <td>
                                                            <div class="document pdf">
                                                                <p class="link"><a href="@url" target="_blank">@doc.Name.</a> (@(GetDocSize(doc))kb)</p>
                                                                @Html.Raw(doc.Description)
                                                            </div>
                                                        </td>
                                                    </tr>
                                                }
                                            }
                                            else
                                            {
                                                <tr data-product="" data-category="@category">
                                                    <td></td>
                                                    <td>@category</td>
                                                    <td>
                                                        <div class="document pdf">
                                                            <p class="link"><a href="@url" target="_blank">@doc.Name.</a> (@(GetDocSize(doc)))kb)</p>
                                                            @Html.Raw(doc.Description)
                                                        </div>
                                                    </td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div><div class="panel-group visible-sm visible-xs" id="tabs-accordion"></div>
            </div>

        </div>
    </section>

</section>


@*@if (Model.Content.PromoBanner.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PromoBanner.First().Id))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PromoBanner != null && Model.Content.Parent<SectionSubPage>().PromoBanner.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PromoBanner.First().Id))
    }

    @if (Model.Content.Icons.Any())
    {
        @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Icons.Select(n => new Link(n)))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().Icons != null && Model.Content.Parent<SectionSubPage>().Icons.Any())
    {
        @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Parent<SectionSubPage>().Icons.Select(n => new Link(n)))
    }*@

@section scripts
{
    <script>
        $(function () {
            $('#business-product, #business-category').change(function () {
                refreshDocuments('#business-product', '#business-category', '#business-documents tbody tr');
            });
            $('#personal-product, #personal-category').change(function () {
                refreshDocuments('#personal-product', '#personal-category', '#personal-documents tbody tr');
            });
        });

        function refreshDocuments($productSelector, $categorySelector, $tableRowSelector) {
            var productfilter = $($productSelector).val();
            var categoryfilter = $($categorySelector).val();

            $($tableRowSelector).hide();
            $($tableRowSelector).each(function () {
                var show;
                if (productfilter !== 'all') {
                    show = $(this).data('product').indexOf(productfilter) > -1;
                } else
                    show = true;

                if (categoryfilter !== 'all') {
                    show = show && categoryfilter === $(this).data('category');
                } else
                    show = show && true;

                if (show) $(this).show();
            });
        }
    </script>

}
