﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Document>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
	var doc = Model.Content.Link.FirstOrDefault();
	var url = doc == null ? "#" : doc.Url;

}

<div class="row" style="margin-top: 50px">
	<div class="col-sm-12 text-center">
		<p>
			You will be redirected to your document shortly...
		</p>
	</div>
</div>

<script>
	window.location.replace('@url');
</script>

