﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.FAQ>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@Html.Partial("/Views/Partials/SectionNavigation.cshtml")
@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}
<section id="content">

    <section class="page-header">
        <div class="container-fluid">
            <h1><span>FAQ</span>@Model.Content.Title</h1>
        </div>
    </section>

    <section class="faqs content-full-width">
        <div class="container-fluid">

            <div class="content">

                <form>
                    <div class="row">
                        <div class="col-sm-6">
                            <label for="form-faqs">@Html.Raw(Model.Content.DropdownHelpText)</label>
                            <select id="form-faqs">
                                @foreach (var item in Model.Content.Sets)
                                {
                                    <option value="@item.GetKey()">@item.Name</option>
                                }

                            </select>
                        </div>
                    </div>
                </form>
                @foreach (var item in Model.Content.Sets)
                {
                    <section id="@item.GetKey()" class="faq-list">
                        <h2>@item.Name</h2>
                        <p>@Model.Content.SetHelpText</p>
                        <div class="faqs">
                            <div class="panel-group" id="accordion" role="tablist">
                                @{

                                    var set = new FAqset(item);
                                    foreach (var temp in set.QuestionAnswerSet)
                                    {
                                        var qa = new FAqquestionAnswer(temp);
                                        var heading = string.Format("heading{0}", qa.GetKey());
                                        var collapse = string.Format("collapse{0}", qa.GetKey());

                                        <div class="panel panel-default">
                                            <div class="panel-heading even" role="tab" id="@heading">
                                                <p class="panel-title">
                                                    <a role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapse" aria-expanded="true" aria-controls="@collapse" class="collapsed">
                                                        Q. @qa.Question
                                                    </a>
                                                </p>
                                            </div>
                                            <div id="@collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@heading" style="height: 0px;">
                                                <div class="panel-body">
                                                    @Html.Raw(qa.Answer)
                                                </div>
                                            </div>
                                        </div>
                                    }
                                }


                            </div>
                        </div>
                    </section>
                }



            </div>

        </div>
    </section>
</section>