﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Header>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <div class="intro text-center">
            @if (Model.Content.Size == null || Model.Content.Size == "Medium")
            {
                <h2 class="intro-title">
                    @Model.Content.Text
                </h2>
            }
            else if (Model.Content.Size == "Small")
            {
                <h3 class="intro-title">
                    @Model.Content.Text
                </h3>
            }
            else
            {
                <h1 class="intro-title">
                    @Model.Content.Text
                </h1>
            }
            @if (Model.Content.SubText != null)
            {
                <div class="intro-text">
                    @Html.Raw(@Model.Content.SubText)
                </div>
            }
        </div>
    </div>
    <div class="col-sm-3"></div>
</div>