﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.HomePage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@if (!string.IsNullOrEmpty(Model.Content.TagLine))
{
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @Model.Content.TagLine
            </p>
        </div>
    </div>
}
@if (Model.Content.PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
}

@if (Model.Content.Alerts.Any())
{
    @Html.Partial("/Views/Partials/Alerts.cshtml", Model.Content.Alerts.Select(n => new Alert(n)).ToList())
}

@if (Model.Content.Children.Any())
{
    var contentNode = Model.Content.Children.FirstOrDefault(x => x.DocumentTypeAlias == "pageContent");
    if (contentNode != null && contentNode.Children.Any())
    {
        foreach (var element in contentNode.Children)
        {
            @MvcHtmlString.Create(library.RenderTemplate(element.Id));
        }
    }
}