﻿@using System.Web.Hosting
@using BankOfCyprusUK.Web.Code
@using System.Web.Optimization
@using MaxMind.Db
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = null;
    var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Cynergy Bank</title>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <!-- Gotham Rounded font -->
    <link rel="stylesheet" type="text/css" href="https://cloud.typography.com/6500176/7576172/css/fonts.css">

    <!-- Favicons -->

    <link href="~/images/icons/favicon.ico" rel="icon">
    <link rel="apple-touch-icon" sizes="57x57" href="~/images/icons/images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/images/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/images/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/images/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/images/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/images/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/images/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/images/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/images/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/images/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/images/icons/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <!-- Custom CSS -->
    @Styles.Render("~/bundles/styles")

    @Html.Raw(settings.HeaderScriptCss)

    <!-- OneTrust Cookies Consent Notice start -->
    <script src="https://cdn-ukwest.onetrust.com/scripttemplates/otSDKStub.js" type="text/javascript" charset="UTF-8" data-domain-script="e2931ce5-ee10-4a48-8a6e-a3694e05a63e-test"></script>
    <script type="text/javascript">
        function OptanonWrapper() { }
    </script>
    <!-- OneTrust Cookies Consent Notice end -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || []; w[l].push({
                'gtm.start':
                    new Date().getTime(), event: 'gtm.js'
            }); var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
                    'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-N8Q8322');</script>
    <!-- End Google Tag Manager -->
</head>

<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N8Q8322"
                height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    @{
        if (Session["Location"] == null)
        {
            var isInternationalRequest = GeoTools.IsInternationalRequest(Request);
            if (isInternationalRequest)
            {
                Response.Redirect("/international");
            }

            Session["Location"] = "GeoLocationProcessed";
        }
    }

    @Html.Partial("/Views/Partials/MobileNavigation.cshtml")

    <div style="position: fixed; z-index: 9287; top: 340px; right: 0px;">
        <img id="liveagent_button_online_573w0000000Gr39" style="display: none; border: 0px none; cursor: pointer" onclick="liveagent.startChat('573w0000000Gr39')" src="https://cynergybank.secure.force.com/resource/1489886914000/WebsiteOnline" /><img id="liveagent_button_offline_573w0000000Gr39" style="display: none; border: 0px none;" src="https://cynergybank.secure.force.com/resource/1489886914000/WebsiteOffline" />
        <script type="text/javascript">
            if (!window._laq) {
                window._laq = [];
            }
            window._laq.push(function () {
                liveagent.showWhenOnline('573w0000000Gr39', document.getElementById('liveagent_button_online_573w0000000Gr39'));
                liveagent.showWhenOffline('573w0000000Gr39', document.getElementById('liveagent_button_offline_573w0000000Gr39'));
            });
        </script>
    </div>

    <div id="site-wrap">

        <a class="skip-link sr-only" href="#content">Skip to content</a>

        <div class="cookie-bar" style="display: none">
            <div class="container-fluid">
                @Html.Raw(settings.CookieText)
                <button id="cookie-consent" class="button white">I agree</button>
            </div>
        </div>

        <div class="blackout"></div>

        @Html.Partial("Header")

        @RenderBody()

        @Html.Partial("Footer")

    </div>

    <!-- CDN Scripts -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui-touch-punch/0.2.3/jquery.ui.touch-punch.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <!-- Main Scripts -->
    @Scripts.Render("~/bundles/js")
    @RenderSection("scripts", false)

    <script type="text/javascript" src="https://c.la1-c2-lon.salesforceliveagent.com/content/g/js/39.0/deployment.js"></script>
    <script type="text/javascript">
        liveagent.init('https://d.la1-c2-lon.salesforceliveagent.com/chat', '572w0000000GqVM', '00D200000007EXq');
    </script>
    <script type="text/javascript" src="/scripts/WebWidget/res/widget2.js"></script>
    <script>rnr_widget_load();</script>
    <script type="text/javascript">
        _linkedin_partner_id = "1060450";
        window._linkedin_data_partner_ids = window._linkedin_data_partner_ids || []; window._linkedin_data_partner_ids.push(_linkedin_partner_id);</script>
    <script type="text/javascript">
        (function () {
            var s = document.getElementsByTagName("script")[0]; var b = document.createElement("script");
            b.type = "text/javascript"; b.async = true;
            b.src = "https://snap.licdn.com/li.lms-analytics/insight.min.js"; s.parentNode.insertBefore(b, s);
        })();
    </script>
    <noscript>
        <img height="1" width="1" style="display:none;" alt="" src="https://dc.ads.linkedin.com/collect/?pid=1060450&fmt=gif" />
    </noscript>
</body>
</html>