﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.MeetTheTeam>
@using BankOfCyprusUK.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", null)


@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

@{
    var teams = new List<Team>();
    var model = new TeamMembersViewModel();

    if (Model.Content.TeamSection != null)
    {
        var settings = Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings");
        var teamNode = settings.FirstChild<TeamFolder>();

        var sectionNode = new TeamSection(Model.Content.TeamSection);

        var teamIds = sectionNode.Teams.Select(n => n.Id);



        foreach (var teamId in teamIds)
        {
            teams.Add(teamNode.DescendantsOrSelf<Team>().Single(n => n.Id == teamId));
        }

        Team team;
        IList<TeamMember> members;
        if (sectionNode.DefaultTeam.Any())
        {
            team = new Team(sectionNode.DefaultTeam.First());
            members = team.Members.Select(m => new TeamMember(m)).ToList();
        }
        else
        {
            team = null;
            members = teams.SelectMany(n => n.Members.Select(m => new TeamMember(m))).ToList();
        }

        model.Team = team;
        model.Members = members;

    }
}

<section class="page-header">
    <div class="container-fluid">
        <h1><span>Cynergy Bank</span>Meet the Team</h1>
    </div>
</section>

<section class="meet-the-team content-full-width">
    <div class="container-fluid">

        <div class="content">
            <form>
                <div class="row">
                    <div class="col-sm-6">
                        <label for="form-type">Filter by Team</label>
                        <select id="form-type">
                            <option value="All">All</option>
                            @foreach (var item in teams)
                            {
                                <option value="@item.Name" @(model.Team != null && item.Id == model.Team.Id ? "selected" : "")>@(item.Name)</option>
                            }

                            @*<option value="Business" @(section.ToLower() == "business" ? "selected" : "")>Business</option>
                                <option value="International" @(section.ToLower() == "international" ? "selected" : "")>International Banking</option>
                                <option value="Mortgage Intermediaries" @(section.ToLower() == "mortgage intermediaries" ? "selected" : "")>Mortgage Intermediaries</option>
                                <option value="Personal" @(section.ToLower() == "personal" ? "selected" : "")>Personal</option>
                                <option value="Property Brokers" @(section.ToLower() == "property brokers" ? "selected" : "")>Property Brokers</option>*@
                        </select>
                    </div>

                    <div class="col-sm-6">
                        <label for="form-manager">Filter by Relationship Manager</label>
                        <select id="form-manager">
                            <option value="All">All</option>
                            @foreach (var item in model.Members)
                            {
                                <option value="@item.GetKey()">@item.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </form>

            <div id="team-container">
                @Html.Partial("/Views/MainSurface/RenderTeamMembers.cshtml", model)
            </div>

        </div>

    </div>
</section>

@section scripts
{
    <script>
		$(function() {
			$('#form-type').change(function() {
				$.ajax({
					url: '@Url.Action("GetTeamMembers", "MainSurface")',
					data: JSON.stringify({ teamName: $('#form-type').val(), sectionNode: @Model.Content.TeamSection }),
					type: 'POST',
					contentType: "application/json; charset=utf-8",
					cache: false,
					success: function(data) {
						$('#form-manager').find('option').remove().end();

						$('#form-manager').append('<option values="All">All</option>');

						$(data).each(function(index) {
							$('#form-manager').append('<option value="' + data[index].Key + '">' + data[index].Name + '</option>');
						});

						renderTeamMembers();
					}
				});
			});

			$('#form-manager').change(renderTeamMembers);

			//$('#form-manager').change(function() {
			//	var id = $('#form-manager').val();
			//	$('.contact').each(function() {
			//		if (id === '') {
			//			$(this).hide();
			//		}
			//		if (id === 'All') {
			//			$(this).show();
			//		} else {
			//			if ($(this).data('memberid') === id) $(this).show();
			//			else $(this).hide();
			//		}
			//	});
			//});
		});

		function renderTeamMembers() {
			$.ajax({
				url: '@Url.Action("RenderTeamMembers", "MainSurface")',
                data: JSON.stringify({ teamName: $('#form-type').val(), memberName: $('#form-manager').val(), sectionNode: @Model.Content.TeamSection }),
				type: 'POST',
				contentType: "application/json; charset=utf-8",
				cache: false,
				success: function(data) {
					$('#team-container').html(data);
				}
			});
		}
    </script>

}
