﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.News>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
}
@Html.Partial("/Views/Partials/SectionNavigation.cshtml")



<section id="content">

	<section class="page-header">
		<div class="container-fluid">
			
			<h1><span>@(string.Format("{0:dddd dd MMMM yyyy}", Model.Content.Date))</span>@Model.Content.Name</h1>
		</div>
	</section>

	<article class="news-article">

		<div class="container-fluid">

			<div class="content">
				@if (Model.Content.Image != null)
				{
				<img class="img-responsive" src="@(Model.Content.Image.Src + Model.Content.Image.GetCropUrl("News Image"))" alt="">
				}

				@Html.Raw(Model.Content.Content)

				@*<div class="share">
					<div class="icons">
						<a href="#">
							<div class="icon facebook">
								<div class="sr-only">Facebook</div>
							</div>
						</a>

						<a href="#">
							<div class="icon twitter">
								<div class="sr-only">Twitter</div>
							</div>
						</a>

						<a href="#">
							<div class="icon linkedin">
								<div class="sr-only">Linkedin</div>
							</div>
						</a>

						<a href="#">
							<div class="icon email">
								<div class="sr-only">Email</div>
							</div>
						</a>
					</div>
				</div>*@
			</div>

		</div>

	</article>

	<section class="news-enquiry">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-6">
					<div class="person">
						@Html.Raw(settings.NewEnquiryContactText)
					</div>
				</div>

				<div class="col-sm-6">
					<div class="contact-details">
						@Html.Raw(settings.NewsEnquiryContactDetails)
					</div>
				</div>

			</div>
		</div>
	</section>
</section>