﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.NewsList>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	IList<int> years = new List<int>();
	for (int i = DateTime.Now.Year; i >= 2012; i--)
	{
		years.Add(i);
	}
	int activeYear;
	if (!Int32.TryParse(Request.QueryString["year"], out activeYear))
	{
		activeYear = DateTime.Now.Year;
	}

	var items = Umbraco.AssignedContentItem.Descendants<News>().OrderByDescending(n => n.Date).ThenByDescending(n => n.UpdateDate).Where(n => n.Date.Year == activeYear).ToList();
	var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
}
@Html.Partial("/Views/Partials/SectionNavigation.cshtml")

<section id="content">
	<section class="page-header">
		<div class="container-fluid">
			<h1><span>News</span>Latest from us</h1>
		</div>
	</section>

	<section class="news-articles">

		<div class="container-fluid">
			<nav>
				<ul class="news-nav">
					<!-- Add/remove active class based on current section/page -->
					@foreach (var year in years)
					{
					<li class="@(year == activeYear ? "active" : "")"><a class="@(year == activeYear ? "active" : "")" href="/news?year=@year">@year</a></li>
					}

				</ul>
			</nav>
		</div>

		<div class="container-fluid">
			<div class="row">
				@if (!items.Any())
				{
				<div class="col-sm-12">

					<p>No news items found for the selected year</p>
					<br />
				</div>
				}
				else
				{
					foreach (var item in items)
					{
					<div class="col-sm-4">
						<article class="match-height" style="height: 400px;">
							@if (item.Thumbnail != null)
							{
								<div class="image" style="background-image: url('@(item.Thumbnail.Src + item.Thumbnail.GetCropUrl("News Image"))')"></div>
							}
							else
							{
							<div class="image" style="background-image: url('/images/news-placeholder.png')"></div>
							}
							
							<p class="date">@string.Format("{0:dd/MM/yyyy}", item.Date)</p>
							<h2>@item.Name</h2>
							@if (!string.IsNullOrEmpty(item.Snippet))
							{
							<p>
								@Html.Raw(item.Snippet.Truncate(200))
							</p>
							}

							<a href="@item.Url">
								Read more<span class="sr-only"> about @item.Name</span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
							</a>
						</article>
					</div>
					}
				}




			</div>
		</div>

		<div class="container-fluid">
			<nav>
				<ul class="news-nav">
					<!-- Add/remove active class based on current section/page -->
					@foreach (var year in years)
					{
					<li class="@(year == activeYear ? "active" : "")"><a class="@(year == activeYear ? "active" : "")" href="/news?year=@year">@year</a></li>
					}
				</ul>
			</nav>
		</div>

	</section>

	<section class="news-enquiry">
		<div class="container-fluid">
			<div class="row">

				<div class="col-sm-6">
					<div class="person">
						@Html.Raw(settings.NewEnquiryContactText)
					</div>
				</div>

				<div class="col-sm-6">
					<div class="contact-details">
						@Html.Raw(settings.NewsEnquiryContactDetails)
					</div>
				</div>

			</div>
		</div>
	</section>
</section>