﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.OverdraftCalculator>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var sectionLandingPage = Model.Content.AncestorOrSelf<SectionLandingPage>();
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", sectionLandingPage)

@if (Model.Content.DisplayTagLine)
    {
        var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
        var homePageTagLine = string.Empty;
        if (homepage != null)
        {
            homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
        }
        var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
        <div class="tagline blue">
            <div class="container-fluid">
                <p>
                    @tagLine
                </p>
            </div>
        </div>
    }

    @if (Model.Content.PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PageHeader != null && Model.Content.Parent<SectionSubPage>().PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PageHeader.First().Id))
    }

<section class="content-with-left-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <div class="content">
                    <h2>@Model.Content.CalculatorHeading</h2>
                        @Model.Content.IntroText

                    <section id="calculator" class="overdraft-calc" role="calculator">
                        <div id="odCalculator" data-parsley-validate="">
                            <div class="calc">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <h3>@Model.Content.GetPropertyValue("accountHeading")</h3>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="user-inputs card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="AMslider-value">Arranged overdraft amount</label>
                                            <div id="AM-slider"></div>
                                            <span class="pounds">£</span>
                                            <input id="AMslider-value" type="text" name="limit" required="" data-parsley-multiple-of="5" data-parsley-max="5000" data-parsley-trigger="change">
                                            <p class="form-note">Maximum amount £5,000</p>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="odSlider-value">Amount you are overdrawn</label>
                                            <div id="odSlider"></div>
                                            <span class="pounds">£</span>
                                            <input id="odSlider-value" type="text" name="overdrawn" required="" data-parsley-multiple-of="5" data-parsley-max="5000" data-parsley-trigger="change">
                                            <p class="form-note">Maximum amount £5,000</p>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="odDaysSlider-value">Number of days overdrawn</label>
                                            <div id="odDaysSlider"></div>
                                            <span class="days">days</span>
                                            <input id="odDaysSlider-value" value="1" min="1" max="31" step="1" />
                                            <p class="form-note">Between 1 and 31 days</p>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <button type="submit" id="calculate" class="button blue">Calculate your costs</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="results" class="calc-results" style="display:none">
                            @Html.Action("RenderOverdraftCalculatorResults", "MainSurface")
                        </div>
                    </section>

                    <section class="rep-example">
                        <div class="cut-out">
                            @Model.Content.RepresentativeExample
                        </div>
                        <div class="cut-out">
                            <div class="row">
                                <div class="col-sm-8">
                                    @Model.Content.ReprenentativeExampleSecondBlock
                                </div>
                                <div class="col-sm-4">
                                    <a href="@Umbraco.NiceUrl(Model.Content.ContactButtonLink.Id)" class="button blue float-right" target="_blank">
                                        @Model.Content.ButtonText   <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <h3>@Model.Content.BottomBlockTitle</h3>
                        @Model.Content.BottomBlock

                </div>
            </div>

            <div class="col-sm-4 col-sm-pull-8">
                <div class="side">
                        @Html.Partial("/Views/Partials/LeftNavigation.cshtml", Model.Content)
                        @if (!Model.Content.HideFscsbox)
                        {
                            @Html.Partial("/Views/Partials/fscs.cshtml")
                        }
                    </div>
            </div>
        </div>

    </div>
</section>