﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductCard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<div class="col-sm-6 block">
    <div class="stand-out match-height" style="height: 233px;">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <p class="title">
                @Model.Content.Title
                @if (!string.IsNullOrEmpty(Model.Content.Subtitle))
                {
                    <span>@Model.Content.Subtitle</span>
                }
            </p>
        }
        @Html.Raw(Model.Content.Details)
    </div>
</div>