﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductCardSection>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<section class="at-a-glance">
    <div class="row">
        @if (Model.Content.Children.Any())
        {
            foreach (var element in Model.Content.Children)
            {
                @MvcHtmlString.Create(library.RenderTemplate(element.Id));
            }
        }
    </div>
</section>