﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductCard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

<div class="col-sm-6 block">
    <div class="grey match-height" style="height: 233px;">
        @if (!string.IsNullOrEmpty(Model.Content.Title))
        {
            <h2>@Model.Content.Title</h2>
        }
        @Html.Raw(Model.Content.Details)
    </div>
</div>