﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductWithComponents>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var sectionLandingPage = Model.Content.AncestorOrSelf<SectionLandingPage>();
}
<section id="content" class="product-page">
    @Html.Partial("/Views/Partials/SectionNavigation.cshtml", sectionLandingPage)

    @if (Model.Content.DisplayTagLine)
    {
        var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
        var homePageTagLine = string.Empty;
        if (homepage != null)
        {
            homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
        }
        var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
        <div class="tagline blue">
            <div class="container-fluid">
                <p>
                    @tagLine
                </p>
            </div>
        </div>
    }

    @if (Model.Content.PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PageHeader != null && Model.Content.Parent<SectionSubPage>().PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PageHeader.First().Id))
    }

    <section class="content-with-left-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8 col-sm-push-4">
                    <div class="content">
                        @if (Model.Content.Children.Any())
                        {
                            var contentNode = Model.Content.Children().FirstOrDefault(x => x.DocumentTypeAlias == "content");
                            if (contentNode != null && contentNode.Children.Any())
                            {
                                foreach (var element in contentNode.Children)
                                {
                                    @MvcHtmlString.Create(library.RenderTemplate(element.Id));
                                }
                            }
                        }
                    </div>
                </div>

                <div class="col-sm-4 col-sm-pull-8">
                    <div class="side">
                        @Html.Partial("/Views/Partials/LeftNavigation.cshtml", Model.Content)
                        @Html.Partial("/Views/Partials/LeftAwards.cshtml", Model.Content)
                    </div>
                </div>
            </div>
        </div>
    </section>

    @if (Model.Content.PromoBanner.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PromoBanner.First().Id))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PromoBanner != null && Model.Content.Parent<SectionSubPage>().PromoBanner.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PromoBanner.First().Id))
    }

    @if (Model.Content.Icons.Any())
    {
        @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Icons.Select(n => new Link(n)))
    }
    else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().Icons != null && Model.Content.Parent<SectionSubPage>().Icons.Any())
    {
        @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Parent<SectionSubPage>().Icons.Select(n => new Link(n)))
    }
</section>