﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Product>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    var sectionLandingPage = Model.Content.AncestorOrSelf<SectionLandingPage>();
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", sectionLandingPage)

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}


@if (Model.Content.PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PageHeader != null && Model.Content.Parent<SectionSubPage>().PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PageHeader.First().Id))
}


<section class="content-with-left-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <div class="content">
                    @Html.Raw(Model.Content.TopContent)

                    @if (Model.Content.Tabs != null && Model.Content.Tabs.Any())
                    {
                        @Html.Partial("/Views/Partials/Tabs.cshtml", Model.Content.Tabs)
                    }

                    @Html.Raw(Model.Content.BottomContent)
                </div>
            </div>

            <div class="col-sm-4 col-sm-pull-8">
                <div class="side">
                    @Html.Partial("/Views/Partials/LeftNavigation.cshtml", Model.Content)
                    @Html.Partial("/Views/Partials/RatesBox.cshtml", Model.Content)
                    @if (!Model.Content.HideFscsbox)
                    {
                        @Html.Partial("/Views/Partials/fscs.cshtml")
                    }
                </div>
            </div>
        </div>
    </div>
</section>

@if (Model.Content.PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PromoBanner.First().Id))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().PromoBanner != null && Model.Content.Parent<SectionSubPage>().PromoBanner.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.Parent<SectionSubPage>().PromoBanner.First().Id))
}

@if (Model.Content.Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Icons.Select(n => new Link(n)))
}
else if (Model.Content.Parent<SectionSubPage>() != null && Model.Content.Parent<SectionSubPage>().Icons != null && Model.Content.Parent<SectionSubPage>().Icons.Any())
{
    @Html.Partial("/Views/Partials/SubPageLinkSection.cshtml", Model.Content.Parent<SectionSubPage>().Icons.Select(n => new Link(n)))
}
