﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.ProductHeader>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

@functions{
    private string AdditionalCss()
    {
        if (string.IsNullOrEmpty(Model.Content.AdditionalCss))
        {
            return string.Empty;
        }
        return string.Format("class={0}", Model.Content.AdditionalCss);
    }
}
@if (Model.Content.Size == null || Model.Content.Size == "Medium")
{
    <h2 @AdditionalCss()>
        @Model.Content.Text
    </h2>
}
else if (Model.Content.Size == "Small")
{
    <h3 @AdditionalCss()>
        @Model.Content.Text
    </h3>
}
else
{
<h1 @AdditionalCss()>
    @Model.Content.Text
</h1>
}
