﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<Rates>
@{
    var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
    var rates = settings.Descendants<RatesTable>().Select(n => new RatesTable(n)).ToList();
    var irCats = rates.Where(n => n.Type == "UK Personal").ToList();
    var fxCats = rates.Where(n => n.Type == "Foreign Exchange").ToList();

    var hasPsa = !string.IsNullOrEmpty(Model.Content.PersonalSavingsAllowanceContent.ToString());
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml")

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

<section id="content">

    @if (Model.Content.PageHeader.Any())
    {
        @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
    }

    <section class="rates-tables">
        <div class="container-fluid">

            <div class="content">

                <div id="tabs-full-width" class="tabs hidden-xs">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs" role="tablist">
                        <li class="even active" role="presentation"><a href="#tab-1" aria-controls="tab-1" role="tab" data-toggle="tab">Interest Rates</a></li>
                        <li role="presentation"><a href="#tab-2" aria-controls="tab-2" role="tab" data-toggle="tab">Foreign Exchange</a></li>
                        <li role="presentation" class="even"><a href="#tab-3" aria-controls="tab-3" role="tab" data-toggle="tab">Base Rates</a></li>
                        <li role="presentation" class="even"><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">Benchmark Transparency</a></li>
                        @*<li role="presentation" class=""><a href="#tab-4" aria-controls="tab-4" role="tab" data-toggle="tab">Travel Money</a></li>*@

                        @if (hasPsa)
                        {
                            <li role="presentation" class="even"><a href="#tab-5" aria-controls="tab-5" role="tab" data-toggle="tab">Historic Interest Rates</a></li>
                        }
                    </ul>

                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div id="tab-1" role="tabpanel" class="tab-pane active">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="form-category">1. Select your category</label>
                                        <select id="form-category">
                                            <option value="All">Choose your category here</option>
                                            <option value="UK Personal">UK Personal Rates</option>
                                            <option value="UK Business">UK Business Rates</option>
                                            <option value="International Personal">International Personal Rates</option>
                                            <option value="International Business">International Business Rates</option>
                                        </select>
                                    </div>

                                    <div class="col-sm-6">
                                        <label for="form-rates">2. Select rates table</label>
                                        <select id="form-rates">
                                            <option value="All">All Rates</option>
                                        </select>
                                    </div>
                                </div>
                            </form>

                            @Html.Raw(Model.Content.InterestRatesPreTableText)
                            <div id="rate-table-container">
                                @if (irCats.Any())
                                {
                                    @*@Html.Raw(irCats.First().TableInformation)*@
                                }
                            </div>
                            @Html.Raw(Model.Content.InterestRatesPostTableText)

                        </div>

                        <div id="tab-2" role="tabpanel" class="tab-pane">

                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label for="form-exchange-category">1. Select your category</label>
                                        <select id="form-exchange-category">
                                            <option value="All">All Rates</option>
                                            @foreach (var ratesTable in fxCats)
                                            {
                                                <option value="@ratesTable.Name">@ratesTable.Name</option>
                                            }
                                        </select>
                                    </div>
                                </div>
                            </form>

                            @Html.Raw(Model.Content.ForeignExchangePreTableText)


                            <div id="foreign-exchange-table-container">
                                @*@Html.Raw(fxCats.First().TableInformation)*@
                            </div>
                            @Html.Raw(Model.Content.ForeignExchangePostTableText)

                        </div>

                        <div id="tab-3" role="tabpanel" class="tab-pane">
                            @Html.Raw(Model.Content.BaseRatesContent)
                        </div>
                        <div id="tab-4" role="tabpanel" class="tab-pane">
                            @Html.Raw(Model.Content.BenchmarkTransparency)
                        </div>

                        @*<div id="tab-4" role="tabpanel" class="tab-pane">
                                @Html.Raw(Model.Content.TravelMoneyContent)
                            </div>*@

                        @if (hasPsa)
                        {
                            <div id="tab-5" role="tabpanel" class="tab-pane">
                                @Html.Raw(Model.Content.PersonalSavingsAllowanceContent)
                            </div>
                        }
                    </div>
                </div>
                <div class="panel-group visible-xs" id="tabs-full-width-accordion"></div>
                @Html.Raw(Model.Content.FooterText)
            </div>

        </div>
    </section>

</section>



@section scripts
{
    <script>
		$(function() {
			$('#form-exchange-category').change(function(e) {
				renderRatesTable($('#form-exchange-category').val(), null, $('#foreign-exchange-table-container'), true);
			});

			$('#form-rates').change(function(e) {
				renderRatesTable($('#form-rates').val(), $('#form-category').val(), $('#rate-table-container'), false);
			});

			$('#form-category').change(function() {
				var id = $('#form-category').val();
				if (id === "All") {
					$('#form-rates').find('option').remove().end();

					$('#form-rates').append('<option value="All">All Rates</option>');
				}

				$.ajax({
					url: '@Url.Action("GetRatesTableNamesByCategory", "MainSurface")',
					data: JSON.stringify({ categoryName: id }),
					type: 'POST',
					contentType: "application/json; charset=utf-8",
					cache: false,
					success: function(data) {
						$('#form-rates').find('option').remove().end();

						$('#form-rates').append('<option value="All">All Rates</option>');
						$(data).each(function(index) {
							$('#form-rates').append('<option value="' + data[index] + '">' + data[index] + '</option>');
						});

						renderRatesTable($('#form-rates').val(), $('#form-category').val(), $('#rate-table-container'), false);
					}
				});

			});

			renderRatesTable($('#form-rates').val(), $('#form-category').val(), $('#rate-table-container'), false);
			renderRatesTable($('#form-exchange-category').val(), null, $('#foreign-exchange-table-container'), true);
	});

		function renderRatesTable(name, category, $container, isExchange) {
			$.ajax({
				url: '@Url.Action("RenderRatesTable", "MainSurface")',
				data: JSON.stringify({ name: name, category: category, isExchange: isExchange }),
				type: 'POST',
				contentType: "application/json; charset=utf-8",
				cache: false,
				success: function (data) {
					$container.html(data);
				}
			});

		}
    </script>

}
