﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SearchResults>

@functions {
	private string GetItemDescription(IPublishedContent item)
	{
		switch (item.DocumentTypeAlias)
		{
			case "contentPage":
				return new ContentPage(item).TopContent.ToHtmlString();
			case "document":
				return new Document(item).Description;
			case "news":
				return new News(item).Content.ToHtmlString();
			case "product":
				return new Product(item).TopContent.ToHtmlString();
			case "sectionLandingPage":
				return new SectionLandingPage(item).MetaDescription;
			case "sectionSubPage":
				return new SectionSubPage(item).TopContent.ToHtmlString();
		}

		return new Meta(item).MetaDescription;
	}

}
@using System.Text.RegularExpressions
@using BankOfCyprusUK.Web.Models
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
	SearchResultViewModel result = (SearchResultViewModel) (Session["Results"] ?? new SearchResultViewModel());
}
@Html.Partial("/Views/Partials/SectionNavigation.cshtml")

<section id="content">

	<section class="page-header">
		<div class="container-fluid">
			<h1><span>Search Results</span>"@result.Query"</h1>
		</div>
	</section>

	<section class="content-full-width">
		<div class="container-fluid">
			<div class="content">
				<p>Your search for <strong>‘@result.Query’</strong> matches <strong>@result.Results.Count()</strong> pages</p>
				
				@foreach (var item in result.Results)
				{
					var text = GetItemDescription(item).Truncate(250);
					text = text == null ? "" : Regex.Replace(text, "<.*?>", String.Empty);
					
				<article class="result">
					<h2>@item.Name</h2>
				
					<p>@text</p>
					<a href="@item.Url">Read more<span class="sr-only"> @item.Name</span><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
				</article>
				}


			</div>
		</div>
	</section>

</section>