﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SectionLandingPageWithComponents>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", Model.Content)

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

@if (Model.Content.PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
}

@if (Model.Content.Alerts.Any())
{
    @Html.Partial("/Views/Partials/Alerts.cshtml", Model.Content.Alerts.Select(n => new Alert(n)).ToList())
}

@if (Model.Content.Children.Any())
{
    var contentNode = Model.Content.Children.FirstOrDefault(x => x.DocumentTypeAlias == "pageContent");
    if (contentNode != null && contentNode.Children.Any())
    {
        foreach (var element in contentNode.Children)
        {
            @MvcHtmlString.Create(library.RenderTemplate(element.Id));
        }
    }
}