﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Section>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{ 
    Layout = null;
}
@functions{
    private string GetStyle()
    {
        if (string.IsNullOrEmpty(Model.Content.BackgroundColour))
        {
            return string.Empty;
        }
        var className = string.Empty;
        if(Model.Content.BackgroundColour == "Grey")
        {
            className = "summary-box";
        }
        if (Model.Content.BackgroundColour == "White")
        {
            className = "product-info";
        }
        return  string.Format("class={0}", className);
    }
}
<section @GetStyle()>
    @if (Model.Content.Children.Any())
    {
        foreach (var element in Model.Content.Children)
        {
            @MvcHtmlString.Create(library.RenderTemplate(element.Id));
        }
    }
</section>