﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SectionFullWidth>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
@functions{
    private string GetStyle()
    {
        var className = "module";
        if (string.IsNullOrEmpty(Model.Content.BackgroundColour))
        {
            return className;
        }

        if (Model.Content.BackgroundColour == "Grey")
        {
            className += " grey";
        }
        return className;
    }
}
<section class="@GetStyle()">
    <div class="container-fluid">
        @if (Model.Content.Children.Any())
        {
            foreach (var element in Model.Content.Children)
            {
                @MvcHtmlString.Create(library.RenderTemplate(element.Id));
            }
        }
    </div>
</section>