﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SectionLandingPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@Html.Partial("/Views/Partials/SectionNavigation.cshtml", Model.Content)

@if (Model.Content.DisplayTagLine)
{
    var homepage = Umbraco.TypedContentAtRoot().FirstOrDefault(x => x.DocumentTypeAlias == "homePage");
    var homePageTagLine = string.Empty;
    if (homepage != null)
    {
        homePageTagLine = homepage.GetPropertyValue<string>("tagLine");
    }
    var tagLine = !string.IsNullOrEmpty(Model.Content.TagLine) ? Model.Content.TagLine : homePageTagLine;
    <div class="tagline blue">
        <div class="container-fluid">
            <p>
                @tagLine
            </p>
        </div>
    </div>
}

@if (Model.Content.PageHeader.Any())
{
    @MvcHtmlString.Create(library.RenderTemplate(Model.Content.PageHeader.First().Id))
}

@if (Model.Content.Alerts.Any())
{
    @Html.Partial("/Views/Partials/Alerts.cshtml", Model.Content.Alerts.Select(n => new Alert(n)).ToList())
}
<section id="content">
    @foreach (var item in Model.Content.Layout)
    {
        switch (item.ContentType.Alias)
        {
            case "sectionThreeColumnFeatureRow":
                @Html.Partial("/Views/Partials/SectionThreeColumnFeatureRow.cshtml", new SectionThreeColumnFeatureRow(item))
                break;
            case "sectionGreyFeatureRow":
                @Html.Partial("/Views/Partials/SectionGreyFeatureRow.cshtml", new SectionGreyFeatureRow(item))
                break;
            case "sectionIconFeatureRow":
                @Html.Partial("/Views/Partials/SectionIconFeatureRow.cshtml", new SectionIconFeatureRow(item))
                break;
            case "sectionImageFeatureRow":
                @Html.Partial("/Views/Partials/SectionImageFeatureRow.cshtml", new SectionImageFeatureRow(item))
                break;
        }
    }
</section>