﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SideCard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using System
@{
    Layout = null;
    var link = Model.Content.Link!= null ?Model.Content.Link.FirstOrDefault():null;
}

<div class="side-module clearfix">
    @if (Model.Content.TitlePosition == "Above" && !string.IsNullOrEmpty(Model.Content.Title))
    {
        <h2>@Model.Content.Title</h2>
    }
    @if (Model.Content.Image != null)
    {
        <a href="#">
            <img src="@Model.Content.Image.Url" alt="@Model.Content.Image.Name">
        </a>
    }

    @if (Model.Content.TitlePosition != "Above" && !string.IsNullOrEmpty(Model.Content.Title))
    {
        <h2>@Model.Content.Title</h2>
    }

    @Html.Raw(Model.Content.Text)

    @if (link != null)
    {
        var linkTarget = (link.NewWindow) ? "_blank" : null;
        <a class="more-info" href="@link.Link" target="@linkTarget">
            @link.Caption
            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
        </a>
    }
</div>