﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    Layout = "Layout.cshtml";
}

<section class="page-header" style="background-image:url('/media/2042/personal-current-account-banner-fscs-logo.jpg')">
<div class="container-fluid">
    <div class="overlay">
        <h1><span>Current Accounts</span>Straightforward banking</h1>
        <p>Our current account helps you to manage your day-to-day finances efficiently, at home, at work or on the move. We offer sterling and euro accounts.</p>

    </div>
</div>
</section>
<section class="content-with-left-menu">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-8 col-sm-push-4">
                <div class="content">
                    <h2>Overdraft Calculator</h2>
                    <p>You can use our calculator to find out how much an overdraft through your Cynergy Bank Personal Current Account would cost over a period of up to 31 days.</p>
                    <p>An overdraft is a short-term credit facility for borrowing money on your current account. It can help in months where there are extra expenses and unplanned events. Overdrafts are not generally suitable for long-term borrowing.</p>
                    <p>Use of an overdraft will normally result in you being charged interest or other charges.</p>
                    <p>Arranged Overdrafts are subject to status and aren't available if you're under 18. The figures displayed are given as a guide only. They are based on assumptions rather than precise calculations.</p>
                    <p>To use our calculator you can <strong>enter the amounts in multiples of £5 or use the sliders</strong>. Please then click 'Calculate your costs' to display or update your results.</p>

                    <section id="calculator" class="overdraft-calc" role="calculator">
                        <div id="odCalculator" data-parsley-validate="">
                            <div class="calc">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <h3>Personal Current Account</h3>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="user-inputs card">
                                    <div class="card-body">
                                        <div class="form-group">
                                            <label for="AMslider-value">Arranged overdraft amount</label>
                                            <div id="AM-slider"></div>
                                            <span class="pounds">£</span>
                                            <input id="AMslider-value" type="text" name="limit" required="" data-parsley-multiple-of="5" data-parsley-max="5000" data-parsley-trigger="change">
                                            <p class="form-note">Maximum amount £5,000</p>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="odSlider-value">Amount you are overdrawn</label>
                                            <div id="odSlider"></div>
                                            <span class="pounds">£</span>
                                            <input id="odSlider-value" type="text" name="overdrawn" required="" data-parsley-multiple-of="5" data-parsley-max="5000" data-parsley-trigger="change">
                                            <p class="form-note">Maximum amount £5,000</p>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <label for="odDaysSlider-value">Number of days overdrawn</label>
                                            <div id="odDaysSlider"></div>
                                            <span class="days">days</span>
                                            <input id="odDaysSlider-value" value="1" min="1" max="31" step="1" />
                                            <p class="form-note">Between 1 and 31 days</p>
                                        </div>
                                        <hr>
                                        <div class="form-group">
                                            <button id="calculate" class="button blue">Calculate your costs</button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="results" class="calc-results" style="display:none">

                                <div class="results card">
                                    <div class="card-body">
                                        <h3>
                                            Your <strong>Personal Account</strong> overdraft
                                        </h3>
                                        <p>
                                            Arranged overdraft amount is <strong id="result_overdraftAmount">£0</strong>
                                        </p>
                                        <p>
                                            Interest charges for <strong id="result_interestChargesDays">0 days</strong> is
                                            <strong id="result_interestChargesAmount">£0</strong>
                                        </p>


                                        <hr>

                                        <h3>Cost of borrowing</h3>
                                        <p class="borrowing">£<span id="result_costOfBorrowing">0</span></p>
                                        <p class="reset"><a id="resetLink" href="javascript:resetCalculator();">Reset/Start again</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="rep-example">
                        <div class="cut-out">
                            <p><strong>Representative example</strong></p>
                            <p>If you have a <strong>Personal Current Account</strong> with an arranged overdraft limit of <strong>£1,200</strong> and you use all of this, you will be charged arranged overdraft interest at <strong>10.75%</strong> EAR (variable).</p>
                        </div>
                        <div class="cut-out">
                            <div class="row">
                                <div class="col-sm-8">
                                    <h2>What’s next?</h2>
                                    <p><span>You should aim to repay your overdraft borrowing as quickly as possible and use it responsibly. Using Online Banking can help </span>you keep a closer eye on your bank balance<span>. If you are having financial difficulties, why not get in touch with us to see if we can help? Free debt counselling, debt adjusting and providing of credit information services is also available from the <a rel="noopener" href="https://www.moneyadviceservice.org.uk/en" target="_blank">Money Advice Service</a>.</span></p>
                                </div>
                                <div class="col-sm-4">
                                    <a href="/contact/" class="button blue float-right" target="_self">
                                        Contact us  <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>

                    <h3>Important Information</h3>
                    <p>This is an indicative calculator based upon a number of assumptions. The amount borrowed is drawn down in full at noon on the date of calculation and you are overdrawn for a continuous period – you do not dip in and out of your overdraft.</p>
                    <p>It is also assumed that the outstanding balance will be repaid in full on the last day of the borrowing period and no other credits and/or debits will be made from the account during the borrowing period. Interest applied to account will also be paid immediately.</p>
                    <p> </p>

                </div>
            </div>
            <div class="col-sm-4 col-sm-pull-8">
                <div class="side">
                    <nav class="side-nav">
                        <ul>
                            <li class=""><a href="/personal-savings/current-accounts/personal-current-account/">Personal Current Account<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class="active"><a href="/personal-savings/current-accounts/overdraft-calculator/">Overdraft Calculator<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/personal-current-account-in-euros/">Personal Current Account in Euros<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/cheque-clearing/">Cheque Clearing<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/payment-services/">Payment Services<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/overdrafts-and-bank-fees/">Overdrafts and bank fees<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/using-my-debit-card-abroad/">Using my debit card abroad<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/activating-my-contactless-debit-card/">Activating my contactless debit card<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/account-switching-with-cynergy-bank-how-it-works/">Account Switching with Cynergy Bank: How it works<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                            <li class=""><a href="/personal-savings/current-accounts/using-my-contactless-debit-card/">Using my contactless debit card<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </div>
</section>