﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SingleImagePageHeader>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

<section class="page-header" style="background-image:url('@Model.Content.BackgroundImage.Url')">
	<div class="container-fluid">
		<div class="overlay">
			@Html.Raw(Model.Content.Body)
			
		@if ((Model.Content.ButtonLink != null || ! string.IsNullOrEmpty(Model.Content.ButtonUrl)) && !string.IsNullOrEmpty(Model.Content.ButtonTitle))
		{
			<a class="button opaque" href="@(Model.Content.ButtonLink == null ? Model.Content.ButtonUrl : Model.Content.ButtonLink.Url)">@Model.Content.ButtonTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
		}
		</div>
	</div>
</section>