﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SingleImagePromoBanner>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


<section class="image-feature" style="background-image:url('@(Model.Content.BackgroundImage.Url)')">
	<div class="container-fluid">
		<div class="overlay">
			<h2>@Model.Content.Title</h2>
			@Html.Raw(Model.Content.Body)
			@if (Model.Content.LinkToContent != null && !string.IsNullOrEmpty(Model.Content.LinkTitle))
			{

			<a class="button opaque" href="@(Model.Content.LinkToContent == null ? "#" : Model.Content.LinkToContent.Url)">
				@Model.Content.LinkTitle
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
			}
		</div>
</div>
</section>

