﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Sitemap>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@* Helper method to travers through all descendants *@
@helper Traverse(IEnumerable<IPublishedContent> nodes, List<string> excludedDt)
{
	@* Update the level to reflect how deep you want the sitemap to go *@
	var maxLevelForSitemap = 4;

	@* Select visible children *@
	var items = nodes.Where("Visible").Where(n => n.Level <= maxLevelForSitemap && n.GetPropertyValue<int>("excludeFromSitemap") != 1);

	@* If any items are returned, render a list *@
	if (items.Any())
	{
	<ul>
		@foreach (var item in items)
		{
			if (!excludedDt.Contains(item.DocumentTypeAlias))
			{
			<li>
				<a href="@item.Url">@item.Name</a>

				@* Run the traverse helper again *@
				@Traverse(item.Children, excludedDt)
			</li>
			}
		}
	</ul>
	}
}

@Html.Partial("/Views/Partials/SectionNavigation.cshtml")

<section id="content">

	<section class="page-header">
		<div class="container-fluid">
			<h1><span>Cynergy Bank</span>@Model.Content.Title</h1>
		</div>
	</section>

	<section class="content-full-width">
		<div class="container-fluid">

			<div class="content">
				@{
					var excludedDt = new List<string>
					{
						"fAQSet",
						"fAQFolder",
						"meta",
						"carouselPageHeader",
						"singleImagePageHeader",
						"sectionThreeColumnFeatureRow",
						"sectionGreyFeatureRow",
						"sectionIconFeatureRow",
						"sectionImageFeatureRow",
						"linkFolder",
						"singleImagePromoBanner",
						"link",
						"teamMember",
						"team",
						"freetextTab",
						"documentsTab",
						"ratesTab",
						"baseTab",
						"fAQTab",
						"ratesTable",
						"ratesList",
						"tag",
						"tagFolder",
						"settings",
						"archiveFolder",
                        "content",
                        "pageContent"
					};

					@Traverse(Umbraco.TypedContentAtRoot(), excludedDt);
				}
			</div>

		</div>
	</section>

</section>