﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.VideoWithCard>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}


@functions{
    private string GetMimeTypeOfVideo(IPublishedContent media)
    {
        var extension = string.Empty;
        var extensionProperty = media.Properties.FirstOrDefault(x => x.PropertyTypeAlias == "umbracoExtension");
        if (extensionProperty != null)
        {
            extension = (string)extensionProperty.Value;
        }
        if (!string.IsNullOrEmpty(extension))
        {
            switch (extension)
            {
                case "mp4":
                    return "video/mp4";
                case "wmv":
                    return "video/x-ms-wmv";
                case "mov":
                    return "video/quicktime";
            }
        }
        return string.Empty;
    }

    private string GetStyle()
    {
        var className = "card";

        if (string.IsNullOrEmpty(Model.Content.BackgroundColour))
        {
            return className;
        }

        if (Model.Content.BackgroundColour == "Grey")
        {
            className += " grey";
        }
        else if (Model.Content.BackgroundColour == "White")
        {
            className += " white";
        }
        return className;
    }

    private string GetBodyStyle()
    {
        var className = "card-body";

        if (string.IsNullOrEmpty(Model.Content.TextAlign))
        {
            return className;
        }

        if (Model.Content.TextAlign == "Left")
        {
            className += " text-left";
        }
        else if (Model.Content.TextAlign == "Centre")
        {
            className += " text-center";
        }
        else if (Model.Content.TextAlign == "Right")
        {
            className += " text-right";
        }
        return className;
    }

    private string GetLinkStyle()
    {
        var className = "";

        if (string.IsNullOrEmpty(Model.Content.LinkStyle))
        {
            return className;
        }

        if (Model.Content.LinkStyle == "Button")
        {
            className += "button blue";
        }

        return className;
    }

    private bool HasLinkStyle()
    {
        if (Model.Content.LinkStyle == "Button")
        {
            return true;
        }

        return false;
    }

    private string GetTarget(Umbraco.Web.Models.RelatedLink link)
    {
        var defaultTarget = "_self";
        if (link == null)
        {
            return defaultTarget;
        }
        if (link.NewWindow)
        {
            return "_blank";
        }
        return defaultTarget;
    }
}
@helper GenerateVideoHtml()
{
    if (Model.Content.VideoMedia != null)
    {
        <div class="col-md-8">
            <div class="card">
                <div class="embed-responsive embed-responsive-16by9">
                    <video controls="" poster="@(Model.Content.Poster != null? Model.Content.Poster.Url:string.Empty)">
                        <source src="@Model.Content.VideoMedia.Url" type="@GetMimeTypeOfVideo(Model.Content.VideoMedia)">
                    </video>
                </div>
            </div>
        </div>
    }
}

@helper GenerateCardHtml()
{
    <div class="col-md-4">
        <div class="@GetStyle()">
            @if (Model.Content.Image != null)
            {
                <div class="image" style="background-image:url('@Model.Content.Image.Url')"></div>
            }
            <div class="@GetBodyStyle()">
                @if (!string.IsNullOrEmpty(Model.Content.Title))
                {
                    <h2 class="card-title">@Model.Content.Title</h2>
                }
                @if (Model.Content.Details != null)
                {
                    <div class="card-text">@Html.Raw(Model.Content.Details)</div>
                }
                @if (Model.Content.Link != null && Model.Content.Link.Any())
                {
                    var link = Model.Content.Link.First();
                    <a href="@link.Link" target="@GetTarget(link)" class="@GetLinkStyle()">
                        @link.Caption
                        @if (!HasLinkStyle())
                        {
                            <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                        }
                    </a>
                }
            </div>
        </div>
    </div>
}


@if (Model.Content.CardPosition != "Right")
{
    @GenerateCardHtml();
    @GenerateVideoHtml();
}
else
{
    @GenerateVideoHtml();
    @GenerateCardHtml();
}

