﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.Video>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}

@functions{
    private string GetMimeTypeOfVideo(IPublishedContent media)
    {
        var extension = string.Empty;
        var extensionProperty = media.Properties.FirstOrDefault(x=>x.PropertyTypeAlias == "umbracoExtension");
        if(extensionProperty != null)
        {
            extension = (string)extensionProperty.Value;
        }
        if (!string.IsNullOrEmpty(extension))
        {
            switch (extension)
            {
                case "mp4":
                    return "video/mp4";
                case "wmv":
                    return "video/x-ms-wmv";
                case "mov":
                    return "video/quicktime";
            }
        }
        return string.Empty;
    }

}

@if (Model.Content.VideoMedia != null)
{
    <div class="col-md-8">
        <div class="card">
            <div class="embed-responsive embed-responsive-16by9">
                <video controls="" poster="@(Model.Content.Poster != null? Model.Content.Poster.Url:string.Empty)">
                    <source src="@Model.Content.VideoMedia.Url" type="@GetMimeTypeOfVideo(Model.Content.VideoMedia)">
                </video>
            </div>
        </div>
    </div>
}