﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.WideImageWithText>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
@functions{
    private string GetThemeStyling()
    {
        var css = "card";
        if (Model.Content.Theme == "Teal")
        {
            css += " teal navy-text";
        }
        else if (Model.Content.Theme == "Grey")
        {
            css += " grey navy-text";
        }
        else
        {
            css += " white";
        }

        return css;
    }

    private string GetLinkStyling()
    {
        if(Model.Content.ButtonLinkStyling == "Button")
        {
            return "button blue float-right";
        }

        return string.Empty;
    }
}

@helper ImageHtml()
{
<div class="col-sm-6">
    @if (Model.Content.IsIcon)
    {
        <img class="img-responsive" src="@Model.Content.Image.Url" alt="@Model.Content.Image.Name">
    }
    else
    {
        <div class="image match-height" style="background-image: url(@Model.Content.Image.Url);"></div>
    }
</div>
}
@helper DetailsHtml()
{
    <div class="col-sm-6">
        <div class="card-body match-height clearfix" style="height: 363px;">
            @if (Model.Content.SuperText != null)
            {
                <div class="card-type">@Html.Raw(Model.Content.SuperText)</div>
            }
            @if (!string.IsNullOrEmpty(Model.Content.Title))
            {
                <h2 class="card-title">@Model.Content.Title</h2>
            }
            @if (Model.Content.Text != null)
            {
                <div class="card-text">@Html.Raw(Model.Content.Text)</div>
            }
            @if (Model.Content.Links != null && Model.Content.Links.Any())
            {
                <ul class="links">
                    @foreach (var link in Model.Content.Links)
                    {
                        <li>
                            <a href="@link.Link" target="@(link.NewWindow?"_blank":"_self")">
                                @link.Caption <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
                            </a>
                        </li>
                    }
                </ul>
            }
            @if (Model.Content.ButtonLink != null && Model.Content.ButtonLink.Any())
            {
                var link = Model.Content.ButtonLink.First();
                <a href="@link.Link" class="@GetLinkStyling()" target="@(link.NewWindow?"_blank":"_self")">@link.Caption <span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
            }
        </div>
    </div>
}

<div class="@GetThemeStyling()">
    <div class="row">
        @if (Model.Content.ImagePosition == "Right")
        {
            @DetailsHtml()
            @ImageHtml()
        }
        else
        {
            @ImageHtml()
            @DetailsHtml()
        }
    </div>
</div>