﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<IList<ContentModels.Alert>>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

@if (Model != null)
{
	if (Model.Count == 1)
	{
		var item = Model.First();
		var linkUrl = item.LinkUrl != null ? item.LinkUrl.Url : item.LinkExternal;
		<section id="single-alert">
			<div class="container-fluid">
				<div class="row">
					<div class="alerts">
						<div class="col-sm-9 item">
							<div class="alert">
								<div class="image">
									<img class="img-responsive" src="@(item.Image.Src + item.Image.GetCropUrl("Alert"))" alt="">
								</div>
								<div class="text">
									<h2>@item.Title</h2>
									@Html.Raw(item.Body)
									<a href="@linkUrl">Find out more<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	}
	else
	{
	<section id="alerts-carousel">
		<div class="container-fluid">
			<div class="row">
				<div class="alerts alerts-carousel">
					@foreach (var item in Model)
					{
						var linkUrl = item.LinkUrl != null ? item.LinkUrl.Url : item.LinkExternal;
					<div class="item">
						<div class="alert">
							<div class="image">
								<img class="img-responsive" src="@(item.Image.Src + item.Image.GetCropUrl("Alert"))" alt="">
							</div>
							<div class="text">
								<h2>@item.Title</h2>
								@Html.Raw(item.Body)
								<a href="@linkUrl">Find out more<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
							</div>
						</div>
					</div>
					}


				</div>
			</div>
		</div>
	</section>



		}
}