﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.DocumentsTab>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}


<div class="documents">
	@if (Model.Text != null)
	{
		<p>@Html.Raw(Model.Text)</p>
	}
	
	@if (Model.Documents != null && Model.Documents.Any())
	{
		foreach (var doc in Model.Documents.Select(n => new Document(n)))
		{
			
			var url = doc.Link == null || !doc.Link.Any() ? "#" : doc.Link.First().Url;
		<div class="document pdf">
			<p class="link"><a href="@url" title="@doc.Name" target="_blank" rel="noopener">@doc.Name</a> (96kb)</p>
			<p>@Html.Raw(doc.Description)</p>
		</div>
		}
	}
</div>