﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<ContentModels.FAqtab>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = null;
}

@if (Model.FAqsets != null)
{
	foreach (var item in Model.FAqsets)
	{
	<section id="@item.GetKey()" class="faq-list">
		<h2>@item.Name</h2>

		<div class="faqs">
			<div class="panel-group" id="accordion" role="tablist">
				@{

					var set = new FAqset(item);
					foreach (var temp in set.QuestionAnswerSet)
					{
						var qa = new FAqquestionAnswer(temp);
						var heading = string.Format("heading{0}", qa.GetKey());
						var collapse = string.Format("collapse{0}", qa.GetKey());

						<div class="panel panel-default">
							<div class="panel-heading even" role="tab" id="@heading">
								<p class="panel-title">
									<a role="button" data-toggle="collapse" data-parent="#accordion" href="#@collapse" aria-expanded="true" aria-controls="@collapse" class="collapsed">
										Q. @qa.Question
									</a>
								</p>
							</div>
							<div id="@collapse" class="panel-collapse collapse" role="tabpanel" aria-labelledby="@heading" style="height: 0px;">
								<div class="panel-body">
									@Html.Raw(qa.Answer)
								</div>
							</div>
						</div>
					}
				}


			</div>
		</div>
	</section>
						}
					}
