﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@{
    var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
}

<footer>
    <section class="features icons">
        <div class="container-fluid">
            <div class="row">
                @if (settings.FooterIcons != null)
                {
                    foreach (var icon in settings.FooterIcons)
                    {
                        var link = new Link(icon);
                        <div class="col-sm-4">
                            <div class="feature">
                                <div class="image" style="background-image: url('@link.Icon.Url')"></div>
                                @Html.Raw(link.Body)
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </section>

    <section class="footer-menu">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-8">
                    <div class="row">
                        @RenderMenuColumn(settings.FooterMenuCol1)
                        @RenderMenuColumn(settings.FooterMenuCol2)
                        @RenderMenuColumn(settings.FooterMenuCol3)
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="footer-buttons">
                        <a class="button teal" href="@settings.ModernSlaveryLink.Url">Modern Slavery Statement<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
                        <a href="@settings.FScslink.Url"><img class="fscs-logo" src="/images/fscs.png" alt="FSCS"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="container-fluid">
        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <div class="contact">
                    @Html.Raw(settings.FooterContactDetails)
                </div>
            </div>

            <div class="col-sm-8 col-sm-pull-4">
                <div class="legal">
                    @Html.Raw(settings.FooterLegalText)
                </div>
            </div>
        </div>
    </section>
</footer>


@helper RenderMenuColumn(IEnumerable<Umbraco.Web.Models.Link> columnData)
{
    var maxRowCount = 4;
    if (columnData != null && columnData.Any())
    {
        <div class="col-sm-4 col-md-4">
            <ul class="footer-nav" style="height:114px;">
                @foreach (var item in columnData.Take(maxRowCount))
                {
                    <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                }
            </ul>
        </div>
    }
}