﻿<div class="protecting">
	<p>You have the security of knowing your eligible deposits are protected up to a total of £85,000 by the Financial Services Compensation Scheme, the UK's deposit guarantee scheme.</p>
	<a href="/about-us/financial-services-compensation-scheme/"><img class="fscs-logo img-responsive" src="/images/fscs.png" alt="FSCS"></a>
</div>
