﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage

@{
    var settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
}

@functions {
    private string GetTelephoneNumber(Settings settings)
    {
        var result = settings.HeaderTelephone;
        var helper = new UmbracoHelper(UmbracoContext.Current);
        var section = helper.AssignedContentItem.AncestorOrSelf<SectionLandingPage>();

        if (section != null && !string.IsNullOrEmpty(section.ContactNumber))
        {
            result = section.ContactNumber;
        }
        return result;
    }

    private string MainMenuCss(Umbraco.Web.Models.Link item)
    {
        var css = string.Empty;
        string currentTopLevelPath = null;
        if (HttpContext.Current.Request.Url.Segments.Count() > 1)
        {
            currentTopLevelPath = HttpContext.Current.Request.Url.Segments[1].TrimEnd("/");
        }

        if (!string.IsNullOrEmpty(item.Url) && !string.IsNullOrEmpty(currentTopLevelPath))
        {
            var cleanUrl = item.Url.TrimStart("/").TrimEnd("/");
            if (cleanUrl == currentTopLevelPath)
                css = "active";
        }
        return css;
    }
}

@helper LogoToDisplay()
{
    var personalSavingsPath = "personal-savings";
    string currentTopLevelPath = null;
    if (HttpContext.Current.Request.Url.Segments.Count() > 1)
    {
        currentTopLevelPath = HttpContext.Current.Request.Url.Segments[1].TrimEnd("/");
    }

    if (!string.IsNullOrEmpty(currentTopLevelPath) && (currentTopLevelPath == personalSavingsPath))
    {
        <img class="img-responsive" src="~/images/logo-330px-primary-savers.jpg" srcset="/images/logo-330px-primary-savers.jpg 1x, /images/logo-646px-primary-savers.jpg 2x" alt="Cynergy Bank">
    }
    else
    {
        <img class="img-responsive" src="~/images/logo-330px.jpg" srcset="/images/logo-330px.jpg 1x, /images/logo-646px.jpg 2x" alt="Cynergy Bank">
    }
}
<header>
    <div class="header-nav clearfix">
        <div class="container-fluid">
            <nav class="navbar">
                <ul class="pillar-nav">
                    @if (settings.MainMenu != null)
                    {
                        foreach (var item in settings.MainMenu)
                        {
                            <li><a href="@item.Url" target="@item.Target" class="@MainMenuCss(item)">@item.Name</a></li>
                        }
                    }
                </ul>
            </nav>
            <nav>
                <ul class="login-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" id="about-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">About Cynergy Bank<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="about-dropdown">
                            @if (settings.SubMenu != null)
                            {
                                foreach (var item in settings.SubMenu)
                                {
                                    <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>
                                }
                            }
                        </ul>
                    </li>
                    <li class="dropdown login-links">
                        <a href="#" class="dropdown-toggle" id="login-dropdown" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Log In<span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span></a>
                        <ul class="dropdown-menu" aria-labelledby="login-dropdown">
                            @{
                                if (settings.LoginMenu != null && settings.LoginMenu.Any())
                                {
                                    foreach (var item in settings.LoginMenu)
                                    {
                                        <li><a href="@item.Url" target="@item.Target">@item.Name</a></li>

                                    }
                                }
                            }
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
    <div class="header-logo">
        <div class="container-fluid">
            <h1 class="site-logo">
                <a href="/" rel="home">
                    @LogoToDisplay()
                </a>
            </h1>
            <div class="header-search">
                <div class="tel-number">
                    <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                    @if (settings.ContactUsLink != null && settings.ContactUsLink.Any())
                    {
                        <a href="@settings.ContactUsLink.FirstOrDefault().Link" target="@(settings.ContactUsLink.FirstOrDefault().NewWindow?"_blank":"_self")">@settings.ContactUsLink.FirstOrDefault().Caption</a>
                    }
                    @GetTelephoneNumber(settings)
                </div>
                <form action="/search-results" method="post" class="search-form desktop">
                    <label for="s">
                        <span class="sr-only">Search for:</span>
                        <input required="" type="text" class="search-field" value="" name="query" id="s">
                    </label>
                    <input type="submit" class="search-submit" value="Search">
                </form>
            </div>
        </div>
    </div>
</header>