﻿@model IPublishedContent

@{
	IList<IPublishedContent> list;

	if (! Model.Children.Any(x=>x.DocumentTypeAlias!="content"))
	{
		list = Model.Parent.Children.Where(x=>x.DocumentTypeAlias != "content" && x.DocumentTypeAlias != "pageContent").ToList();
	}
	else
	{
		list = Model.Children.ToList();
	}
}

<nav class="side-nav">
	<ul>
		@foreach (var item in list)
		{
			var isActive = UmbracoContext.Current.PageId == item.Id;
			<li class="@(isActive ? "active" : "")"><a href="@item.Url">@item.Name<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
		}

		


		@*<li><a href="#">Link 1<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
		<li><a href="#">Link 1<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
		<li><a href="#">Link 1<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>
		<li><a href="#">Link 1<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a></li>*@
	</ul>
</nav>
