﻿@using ContentModels = Umbraco.Web.PublishedContentModels;
@model ContentModels.ProductWithComponents

@{
    var awards = GetAwardList(Model.Unwrap());
    IList<IPublishedContent> list;
}
@functions {
    public IEnumerable<IPublishedContent> GetAwardList(IPublishedContent node)
    {
        if (node.HasProperty("sideBarModules"))
        {
            var modules = node.GetPropertyValue<IEnumerable<IPublishedContent>>("sideBarModules");
            if(modules != null && modules.Any())
            {
                return modules;
            }
        }

        if (node.Level > 1)
        {
            return GetAwardList(node.Parent);
        }

        return null;
    }
}
@if(awards!=null && awards.Any())
{
    foreach(var award in awards)
    {
        @Html.Partial("/Views/SideCard.cshtml", new SideCard(award))
    }
}
