﻿@inherits UmbracoTemplatePage

@{
    settings = new Settings(Umbraco.TypedContentAtRoot().First(n => n.DocumentTypeAlias == "settings"));
}

@functions{
    Settings settings;
    bool IsPillarUrl(IPublishedContent item)
    {
        var isPillarUrl = false;
        if (item != null && settings != null && settings.MainMenu != null && settings.MainMenu.Any())
        {
            isPillarUrl = settings.MainMenu.Any(x => x.Url == item.Url);
        }
        return isPillarUrl;
    }
}

@helper RenderMenu(IEnumerable<IPublishedContent> nav)
{
    var excludedDataTypes = new string[] { "pageContent" };
    var maxLeveles = 3;
    foreach (var item in nav)
    {
        if (excludedDataTypes.Contains(item.DocumentTypeAlias))
        {
            continue;
        }
        if (item.Children.Any() && item.Level <= maxLeveles)
        {
            string dropdownClass;
            var isPillarUrl = IsPillarUrl(item);
            if (isPillarUrl)
            {
                dropdownClass = "nav-item section-link dropdown";
            }
            else
            {
                dropdownClass = item.Level > 0 ? "nav-item dropdown dropdown-submenu" : "nav-item dropdown";
            }

            <li class="@dropdownClass">
                <a href="@item.Url" class="@(isPillarUrl ? "dropdown-toggle" : "toggle")" data-toggle="dropdown" role="button">@item.Name<span class="glyphicon glyphicon-menu-down"></span></a>
                <ul class="dropdown-menu">
                    @RenderMenu(item.Children)
                </ul>
            </li>
        }
        else
        {
            <li class="nav-item"><a href="@item.Url">@item.Name</a></li>
        }
    }
}

<button type="button" class="navbar-toggle">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
</button>

<nav id="mobile-nav" role="navigation">
    <ul>
        <li class="nav-item home-link">
            <a href="/"><img class="img-responsive" src="/images/white-logo.png" alt="Bank of Cyprus UK" /></a>
        </li>
        @RenderMenu(Umbraco.TypedContentAtRoot().First().Children.Where(n => n.IsVisible()))
    </ul>
</nav>