﻿@model Product

@if (!string.IsNullOrEmpty(Model.AErgrossToken) || !string.IsNullOrEmpty(Model.AErtoken))
{

	<div class="rates">
		@if (!string.IsNullOrEmpty(Model.AErtoken))
		{
		<p class="rate">@Model.AErtoken%</p>
		<p class="desc">AER</p>
		}
		@if (!string.IsNullOrEmpty(Model.AErgrossToken))
		{
		<p class="rate">@Model.AErgrossToken%</p>
		<p class="desc">AER/Gross</p>
		}
		@Html.Raw(Model.AdditionalText)
	</div>
}
