﻿@model SectionSubPage

@if (Model.BackToLink != null)
{
	<div class="brokers-back-nav">
		<div class="container-fluid">
			<nav>
				<ul class="back-nav">
					<!-- Add/remove active class based on current section/page -->
					<li class="active"><a href="@Model.BackToLink.Url"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back to @Model.BackToLink.Name</a></li>
				</ul>
			</nav>
		</div>
	</div>
}


