﻿@model SectionGreyFeatureRow
			 
<section class="grey-feature">
	<div class="container-fluid">
		<div class="bg" style="background-image:url('@(Model.BackgroundImage.Url)')">
			<div class="overlay">
				@Html.Raw(Model.Body)
				<a class="button blue" href="@(Model.Link == null ? "#" : Model.Link.Url)">@Model.LinkTitle
					<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
				</a>
			</div>
		</div>
	</div>
</section>