﻿@model SectionImageFeatureRow

<section class="image-feature" style="background-image:url('@(Model.BackgroundImage.Url)')">
	<div class="container-fluid">
		<div class="overlay">
			@Html.Raw(Model.Body)
			<a class="button opaque" href="@(Model.Link == null ? "#" : Model.Link.Url)">@Model.LinkTitle
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
		</div>
	</div>
</section>