﻿@using Archetype.Models
@model SectionThreeColumnFeatureRow

@* {
	"leftColumn":"{\"fieldsets\":[{\"properties\":[{\"alias\":\"link\",\"value\":\"umb://document/aa129c994e4b4dde9ba9384ddbc21e54\"},{\"alias\":\"title\",\"value\":\"Business Lending\"},
	{\"alias\":\"linkTitle\",\"value\":\"View our Business Lending options\"},
	{\"alias\":\"body\",\"value\":\"<p>Whatever the situation, your relationship manager will take the time to understand your needs, and discuss the most appropriate method of finance.</p>\"},
	{\"alias\":\"image\",\"value\":\"umb://media/8ede11cbf5474a56a48e1fa8eb03a8b3\"}]*@

@helper RenderColumn(ArchetypeFieldsetModel column)
{
	<div class="col-sm-4">
		<div class="feature">

			<h2>@(column.GetValue<string>("title"))</h2>
			<div class="image" style="background-image: url('@(column.GetValue<IPublishedContent>("image").Url)')"></div>

			@(column.HasProperty("body") ? column.GetValue<IHtmlString>("body") : new HtmlString(""))
			@if (column.GetValue<IPublishedContent>("link") != null)
			{
			<a href="@(column.GetValue<IPublishedContent>("link").Url)">
				@(column.GetValue<string>("linkTitle"))
				<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
			</a>
			}

		</div>
	</div>
}

<section class="features">
	<div class="container-fluid">
		<div class="row">
			@if (Model.LeftColumn.Fieldsets.Any())
			{
				@RenderColumn(Model.LeftColumn.Fieldsets.First())
			}
			@if (Model.MiddleColumn.Fieldsets.Any())
			{
				@RenderColumn(Model.MiddleColumn.Fieldsets.First())
			}
			@if (Model.RightColumn.Fieldsets.Any())
			{
				@RenderColumn(Model.RightColumn.Fieldsets.First())
			}

		</div>
	</div>
</section>