﻿@model SectionIconFeatureRow
@*
	{
	{\"alias\":\"title\",\"value\":\"Payment Services\"},
	{\"alias\":\"icon\",\"value\":\"umb://media/cf8e3bd9920b4a76b533b2d936ecef7a\"},
	{\"alias\":\"body\",\"value\":\"<p>We have a number of ways to help you make and receive payments quickly, efficiently and securely – in the UK or internationally.</p>\"}],
	\"alias\":\"icon\",\"disabled\":false,\"id\":\"193bfb6f-8643-49a0-bd01-bc391e1ce842\",\"releaseDate\":null,\"expireDate\":null,\"allowedMemberGroups\":\"\"}
*@
<section class="features icons">
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3"></div>
			<div class="col-sm-6">
				<div class="intro">
					@Html.Raw(Model.Intro)
				</div>
			</div>
			<div class="col-sm-3"></div>
		</div>
		<div class="row">
			
			@foreach (var item in Model.Icons)
			{
				var linkUrl = item.HasProperty("link") && item.GetValue("link") != null && item.GetValue<IPublishedContent>("link") != null ? item.GetValue<IPublishedContent>("link").Url : "#";
			<div class="col-sm-4">
				<div class="feature">
					<div class="image" style="background-image: url('@(item.GetValue<IPublishedContent>("icon").Url)')"></div>
					<a href="@linkUrl">
						@(item.GetValue<string>("linkTitle"))
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</a>
					@Html.Raw(item.GetValue<IHtmlString>("body"))
				</div>
			</div>
			}

		</div>
	</div>
</section>