﻿@{

    IEnumerable<Umbraco.Web.Models.Link> navigation = null;
    var umbraco = new UmbracoHelper(UmbracoContext.Current);
    var settings = new Settings(umbraco.TypedContentAtRoot().Single(n => n.ContentType.Alias == "settings"));
    string sectionStyling = string.Empty;
    var cssClass = "";

    object section = umbraco.AssignedContentItem.AncestorOrSelf<SectionLandingPage>();
    if (section == null)
    {
        section = umbraco.AssignedContentItem.AncestorOrSelf<SectionLandingPageWithComponents>();
    }
    if (section != null)
    {
        if (section.GetType() == typeof(SectionLandingPageWithComponents))
        {
            var typedSection = section.TryConvertTo<SectionLandingPageWithComponents>();
            if (typedSection.Success)
            {
                navigation = typedSection.Result.Navigation;
                sectionStyling = typedSection.Result.SectionStyling;
            }
        }
        else
        {
            var typedSection = section.TryConvertTo<SectionLandingPage>();
            if (typedSection.Success)
            {
                navigation = typedSection.Result.Navigation;
                sectionStyling = typedSection.Result.SectionStyling;
            }
        }
    }

    switch (sectionStyling)
    {
        case "Business":
            cssClass = "business-sub-nav";
            break;
        case "International":
            cssClass = "international-sub-nav";
            break;
        case "Mortgage Intermediaries":
            cssClass = "intermediary-sub-nav";
            break;
        case "Personal":
            cssClass = "personal-sub-nav";
            break;
        case "Property Brokers":
            cssClass = "brokers-sub-nav";
            break;
    }
}

<div id="sub-nav" class="@cssClass">
    <div class="container-fluid">
        <nav>
            <ul class="sub-nav">
                @if (navigation != null && navigation.Any())
                {
                    foreach (var item in navigation)
                    {
                        <li class="@IsActive(item.Url)"><a href="@item.Url">@Html.Raw(item.Name)</a></li>
                    }
                }
            </ul>
        </nav>
    </div>
</div>


@functions {
    private string IsActive(string itemUrl)
    {
        var umbraco = new UmbracoHelper(UmbracoContext.Current);
        return umbraco.AssignedContentItem.AncestorsOrSelf().Any(n => n.Url == itemUrl) ? "active" : "";
    }

}