﻿@using System.ServiceModel.Security

@{
	var helper = new UmbracoHelper(UmbracoContext.Current);
	var section = helper.AssignedContentItem.AncestorOrSelf<SectionLandingPage>();
	var styling = "";
	var url = helper.AssignedContentItem.Url.ToLower();

	if (section != null)
	{
		styling = section.SectionStyling;
	}
	else
	{
		if (!url.StartsWith("/international/") && !url.StartsWith("/property-brokers/") && !url.StartsWith("/mortgage-intermediaries/") && !url.StartsWith("/solicitors/"))
		{
			styling = "Business";
		}
	}
}
<nav>
	<ul class="section-nav">
		<!-- Add/remove active class based on current section/page -->
		<li class="business-link @(styling == "Business" ? "active" : "")"><a href="/business">Business</a></li>
		<li class="personal-link @(styling == "Personal" ? "active" : "")"><a href="/personal">Personal</a></li>

		@if (url.StartsWith("/international/"))
		{
			<li class="international-link @(styling == "International" ? "active" : "")"><a href="/international">International</a></li>
		}
		else if (url.StartsWith("/property-brokers/"))
		{
			<li class="brokers-link @(styling == "Property Brokers" ? "active" : "")"><a href="/property-brokers">Brokers</a></li>
		}
		else if (url.StartsWith("/mortgage-intermediaries/"))
		{
			<li class="intermediary-link @(styling == "Mortgage Intermediaries" ? "active" : "")"><a href="/mortgage-intermediaries">Intermediaries</a></li>
		}
		else if (url.StartsWith("/solicitors/"))
		{
			<li class="business-link active"><a href="/solicitors">Solicitors</a></li>
		}
	</ul>
</nav>
