﻿@inherits UmbracoViewPage<IEnumerable<Link>>

@{
	var bgColour = "";

	if (Umbraco.AssignedContentItem.HasProperty("iconsBackgroundColour"))
	{
		if (Umbraco.AssignedContentItem.GetPropertyValue<string>("iconsBackgroundColour") == "Grey")
		{
			bgColour = "grey";
		}
	}
}
<section class="features icons @bgColour">
	<div class="container-fluid">
		<div class="row">
			@foreach (var item in Model)
			{
				var linkUrl = item.LinkToContent != null ? item.LinkToContent.Url : item.LinkToExternal;
				<div class="col-sm-4">
					<div class="feature">
						<div class="image" style="background-image: url('@(item.Icon == null ? "" : item.Icon.Url)')"></div>
						<a href="@linkUrl">@item.LinkTitle<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span></a>
					</div>
				</div>
			}



		</div>
	</div>
</section>