﻿@model System.Collections.Generic.IEnumerable<Umbraco.Core.Models.IPublishedContent>

<div id="tabs" class="tabs hidden-xs">
	<!-- Nav tabs -->
	<ul class="nav nav-tabs" role="tablist">
		@{
			var tabIndex = 1;
		}
		@foreach (var item in Model.Cast<IBaseTab>())
		{
			<li class="@(tabIndex % 2 == 0? "even" : "") @(tabIndex == 1 ? "active" : "")" role="presentation"><a href="#tab-@tabIndex" aria-controls="tab-@tabIndex" role="tab" data-toggle="tab">@item.Title</a></li>
			tabIndex++;
		}

	</ul>

	<!-- Tab panes -->
	<div class="tab-content">
		@{
			tabIndex = 1;
			foreach (var item in Model)
			{
				<div id="tab-@tabIndex" role="tabpanel" class="tab-pane @(tabIndex == 1 ? "active" : "")">
					@{
						switch (item.DocumentTypeAlias)
						{
							case FreetextTab.ModelTypeAlias:
								@Html.Partial("FreetextTab", new FreetextTab(item))
								break;
							case FAqtab.ModelTypeAlias:
								@Html.Partial("FAQTab", new FAqtab(item))
								break;
							case DocumentsTab.ModelTypeAlias:
								@Html.Partial("DocumentsTab", new DocumentsTab(item))
								break;
							case RatesTab.ModelTypeAlias:
								@Html.Partial("RatesTab", new RatesTab(item))
								break;
						}
					}
				</div>
				tabIndex++;
			}
						}
	</div>
</div>

<div class="panel-group visible-xs" id="tabs-full-width-accordion"></div>