﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<BankOfCyprus.OverdraftCalculator.Models.OverdraftCalculatorResultViewModel>
@{
    var overdraftCalculatorNode = Umbraco.TypedContent(BankOfCyprusUK.Web.Code.Constants.OverdraftCalculatorNodeId);
}

<div class="results card">
    <div class="card-body">
        <h3>Your <strong>Personal Account</strong> overdraft</h3>
        <p>Arranged overdraft amount is <strong id="result_overdraftAmount">£@Model.ArrangedOverdraftAmount</strong></p>
        <p>
            Interest charges for <strong id="result_interestChargesDays">@Model.NumberOfDays days</strong> is
            <strong id="result_interestChargesAmount">£@Model.ChargedArrangeOverdraftInterestEAR</strong>
        </p>

        @if (Model.IsUnauthorised)
        {
            <div class="card-body unarranged">
                <p>Your unarranged overdraft borrowing charge is <strong>£@Model.UnArrangedOverdraftCharge</strong></p>
                <p class="smallprint">@overdraftCalculatorNode.GetPropertyValue("unauthorisedBorrowingCharge")</p>
            </div>
        }

        <hr>

        <h3>Cost of borrowing</h3>
        <p class="borrowing">£<span id="result_costOfBorrowing">@Model.CostOfBorrowing</span></p>
        <p class="reset"><a id="resetLink" href="javascript:resetCalculator();">Reset/Start again</a></p>
    </div>
</div>