﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{

	var images = Convert.ToString(Model.MacroParameters["gallery"]).Split(',');


}

<div id="gallery" class="gallery">
	<div class="row">
		@foreach (var item in images)
		{
			var media = new Image(Umbraco.TypedMedia(item));
			<div class="col-sm-3">
				<a data-fancybox="gallery" href="@media.Url">
					<img class="img-responsive" src="@media.GetCropUrl("gallery")" alt="">
				</a>
			</div>
		}
	</div>
</div>