﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{

	var videoId = Model.MacroParameters["video"];
	var pImage = Model.MacroParameters["placeholderImage"];

    var imgUrl = Umbraco.TypedMedia(pImage).Url;
    var videoUrl = Umbraco.TypedMedia(videoId).Url;
}

<!-- 16:9 aspect ratio -->
<div class="embed-responsive embed-responsive-16by9">
 @{
                
                <video autoplay controls poster="@imgUrl" width="850" height="450">
                    <source src="@videoUrl" type="video/mp4" />
                </video>
                } 
</div>