html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* Set-up */
div[class*='slide'] {
    display: none;
}


body {
    margin: 8px;
    font-family: "Open Sans", sans-serif;
    font-size: 15px;
    line-height: 1.4;
    color: #003d4c;
}

.container {
    min-width: 768px;
    max-width: 902px;
    margin: 0 auto;
}

header {
    position: relative;
    min-width: 768px;
    max-width: 902px;
    min-height: 100px;
    height: 100px;
    margin: 0 auto;
    background: #eff2f5;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    text-align: center;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}

p {
    padding: 30px 0;
    max-width: 80%;
    margin: 0 auto;
}

p + p {
    padding-top: 0;
}

.rgAlert {
    text-align: center;
    font-weight: 700;
    background-color: #9de7da;
    color: #003d4c;
    padding: 15px;
    margin: 10px auto 30px;
    border-radius: 4px;
    min-width: 80%;
}

.container header {
    background-color: #003d4c;
    color: white;
    min-height: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    flex-direction: row;
    min-height: 400px
}

.columns {
    flex-direction: column
}

.left-col {
    flex: 1
}

.animation {
    max-width: 320px;
}

.animation img {
    width: 100%;
    height: auto;
}

.animation video {
    width: 100%;
    height: auto;
}

ul {
    padding: 30px;
}

li {
    list-style: none;
    padding-bottom: 15px
}

li a {
    color: #003d4c;
    text-decoration: underline;
}

.columns li {
    max-width: 85%;
}

.rgBack {
    cursor: pointer;
    background-color: #00d1b6;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    position: absolute;
    color: #003d4c;
    z-index: 10;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
}

.hide {
    opacity: 0 !important;
    top: -100px;
}

.show {
    opacity: 1 !important;
}

.rgBack::before {
    content: '';
    display: block;
    height: 25px;
    width: 25px;
    background-image: url(../images/back.svg);
    background-size: cover;
}

footer .rgInstructions p {
    margin: 0 15px 0 90px;
    padding: 15px 0;
    /*min-height: 75px;
    height: 75px;*/
}

/* Footer */
footer {
    background-color: #003d4c;
    color: white;
    min-height: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 37.5px;
    overflow: hidden;
}

footer p {
    text-align: left !important;
}

footer .rgInstructions {
    display: flex;
    /*align-items: center;*/
    min-height: 75px;
    height: 75px;
}

footer button {
    cursor: pointer;
    background-color: #00d1b6;
    color: #003d4c;
    min-height: 75px;
    height: 75px;
    display: flex;
    align-items: center;
    -ms-flex-align: center;
    justify-content: center;
    border: 0;
    border-left: 4px solid white;
    min-width: 175px;
    font-family: "Open Sans", sans-serif;
    font-size: 17px;
    font-weight: 600;
    padding: 0 30px;
    outline: none;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

footer button:hover {
    background-color: #9de7da;
}


.rgInfo.rgIndent {
    margin-left: 85px;
}

.rgInfo {
    text-align: left;
    font-size: 14px;
    background-color: #9de7da;
    color: #003d4c;
    padding: 10px 10px 10px 50px;
    margin: 10px 0 30px;
    border-radius: 4px;
    min-height: 50px;
    max-width: 75%;
}

.rgInfo::before {
    content: '';
    display: block;
    position: absolute;
    margin-left: -40px;
    background-image: url(../images/info.svg);
    height: 30px;
    width: 30px;
}

/* Icons */

ul.icons li {
    /*display: flex;*/
    align-items: center;
    -ms-flex-align: center;
    text-align: left;
    padding-left: 55px;
    margin-top: 15px;
}

.icons li::before {
    content: '';
    display: block;
    position: absolute;
    background-color: #eff2f5;
    margin-top: 3px;
    margin-left: -55px;
    height: 45px;
    width: 45px;
    border-radius: 50%;
}

.laptop,
.a,
.b,
.c,
.d,
.digi {
    display: flex;
}

.laptop::before {
    background-image: url(../images/laptop.svg);
    border: 2px solid #a97de2;
}

.digi::before {
    background-image: url(../images/digipass.svg);
    border: 2px solid #a97de2;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
}

.none::before {
    background-color: #FFF !important;
}

.icons li.bullet::before {
    margin-left: -38px;
    height: 15px;
    width: 15px;
    background-color: #FFF;
    border: 2px solid #a97de2;
}

.icons li.a::before {
	content: 'a';
	border: 2px solid #a97de2;
	color: #003d4c;
	font-size: 20px;
	padding-top: 4px;
	font-weight: 900;
	display: flex;
    justify-content: center;
}

.icons li.b::before {
    content: 'b';
    border: 2px solid #a97de2;
	color: #003d4c;
	font-size: 20px;
	padding-top: 6px;
	font-weight: 900;
	display: flex;
    justify-content: center;
}

.icons li.c::before {
    content: 'c';
    border: 2px solid #a97de2;
	color: #003d4c;
	font-size: 20px;
	padding-top: 4px;
	font-weight: 900;
	display: flex;
    justify-content: center;
}

.icons li.d::before {
    content: 'd';
    border: 2px solid #a97de2;
	color: #003d4c;
	font-size: 20px;
	padding-top: 6px;
	font-weight: 900;
	display: flex;
    justify-content: center;
}



/* Animated SLIDES */

.slide-1 p,
.slide-5 p,
.slide-6 p {
    text-align: center;
}

div[class*='slide'] li {
    opacity: 0;
    -webkit-animation: fadeInOne 0.9s 1;
    animation: fadeInOne 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
}

div[class*='slide'] li:nth-child(5n+1) {
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
}

div[class*='slide'] li:nth-child(5n+2) {
    -webkit-animation-delay: 2.0s;
    animation-delay: 2.0s;
}

div[class*='slide'] li:nth-child(5n+3) {
    -webkit-animation-delay: 4.0s;
    animation-delay: 4.0s;
}

div[class*='slide'] li:nth-child(5n+4) {
    -webkit-animation-delay: 6.0s;
    animation-delay: 6.0s;
}

div[class*='slide'] li:nth-child(5n+5) {
    -webkit-animation-delay: 8.0s;
    animation-delay: 8.0s;
}

div[class*='slide'] li:nth-child(5n+6) {
    -webkit-animation-delay: 10.0s;
    animation-delay: 10.0s;
}


.slide-5 footer button,
.slide-6 footer button,
.slide-7 footer button,
.slide-8 footer button,
.slide-9 footer button {
    opacity: 0;
    -webkit-animation: fadeInOne 0.9s 1;
    animation: fadeInOne 0.9s 1;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-delay: 8.0s;
    animation-delay: 8.0s;
}


/* Animation steps */

@-webkit-keyframes fadeInOne {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }
}

@keyframes fadeInOne {
    0% {
        opacity: 0.0;
    }

    100% {
        opacity: 1.0;
    }

}

.rgAnimate {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}

.ico {
    position: absolute;
    height: 75px;
    width: 75px;
    background-color: #eff2f5;
    border-radius: 50%;
}

.rgphone {
    display: block;
    background-image: url(../images/phone.svg);
    border: 4px solid #cfb169;
}

.digipass {
    display: block;
    background-image: url(../images/digipass.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 35%;
    border: 4px solid #cfb169;
}

.laptop-lrg {
    background-image: url(../images/laptop.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 4px solid #cfb169;
}

.tml-container p {
    display: none;
}

.slide-6 footer button {
    opacity: 0;
}

.callout {
    padding: 10px 55px 15px;
    background-color: #9de7da;
    border-radius: 5px;
    margin-left: 55px;
    padding-right: 30px;
}

.callout-2 {
    padding: 30px;
    border: 4px solid #9de7da;
    border-radius: 5px;
    margin-left: 55px;
    margin-bottom: 30px;
}

.icons li.callout-2::before {
    content: '';
    display: none;
}



.callout::before {
    background-color: #9de7da !important;
}

.info::before {
    background-image: url(../images/info.svg);
    height: 30px !important;
    width: 30px !important;
    margin-left: -43px !important;
}


@media only screen and (max-width: 600px) {
    ul, p {
        padding-right: 15px;
        padding-left: 15px
    }
    header,
    .container {
        min-width: 100%;
        max-width: 100%;
    }
    .flex-container {
        flex-direction: column;
    }
    .animation {
        margin: 0 auto ;
    }
    
    footer {
        flex-direction: column;
    }
    
    footer .ico {
        display: none !important;
    }
    
    footer button {
        border-radius: 50px;
        margin: 10px;
        border: 4px solid #fff;
    }
    
    footer .rgInstructions p {
        margin: 0;
        padding: 15px 30px 0;
        width: 100%;
        max-width: 100%;
        text-align: center !important;
    }
    
    .rgBack {
        height: 20px;
        width: 20px;
        top: 5px;
        left: 5px;
    }
    
    .rgBack::before {
        height: 25px;
        width: 25px;
        background-size: 50%;
        background-repeat: no-repeat;
        background-position: center;
    }
}