﻿@inherits UmbracoViewPage<BankOfCyprusUK.Web.Models.TeamMembersViewModel>

@if (Model.Members.Count == 0)
{
	<p>No team members added to this team</p>
}

else if (Model.Members.Count == 1 && Model.Members[0].Photo == null)
{
	<p> Use alternative layout here</p>
}
		else
		{
			foreach (var member in Model.Members)
			{
				var office = member.RegionalOffice == null || !member.RegionalOffice.Any() ? null : new RegionalOffice(member.RegionalOffice.First());

				<div class="contact" style="" data-memberid="@member.GetKey()">

					<div class="row">
						<div class="col-sm-3">
							<div class="location">
								@if (office != null)
								{
								<p class="area">@office.Title</p>
								<p class="address">@Html.Raw(office.Address)</p>
								<p class="meetings">@member.Meetings</p>
								}
							</div>
						</div>

						<div class="col-sm-9">
							<div class="person">
								@if (member.Photo != null)
								{
									<img src="@(member.Photo.Src + member.Photo.GetCropUrl("Meet The Team"))" alt="Name">
								}
								else
								{
									<img src = "/images/person.png" alt="Name" />
								}
								<div class="details">
									<p class="name">@member.Name</p>
									<p class="title">@member.Position</p>
									@if (!string.IsNullOrEmpty(member.Telephone))
									{
									<p class="tel">T @member.Telephone</p>
									}

									@if (!string.IsNullOrEmpty(member.Mobile))
									{
									<p class="mobile">M @member.Mobile</p>
									}

									@if (!string.IsNullOrEmpty(member.Email))
									{
									<p class="email"><a href="mailto:@member.Email" target="_blank">@member.Email</a></p>
									}

								</div>
								@Html.Raw(member.Bio)
							</div>


						</div>
					</div>

				</div>
	}


}

<div class="type">
	<h2>@(Model.Team == null ? "" : Model.Team.Name)</h2>
	@Html.Raw(Model.Team == null ? "" : Model.Team.Intro.ToString())
</div>

