a {
    text-decoration: underline;

    .glyphicon {
        margin-left: 6px;
        font-size: 75%;
    }
}

.button {
    border-radius: 26px;
    border: 1px solid #fff;
    color: #fff;
    padding: 15px 20px;
    display: inline-block;
    text-decoration: none;

    .glyphicon {
        margin-left: 20px;
    }

    &:hover,
    &:focus {
        color: #fff;
        text-decoration: none;
    }

    &.opaque {
        background: $black-60-bg;

        &:hover,
        &:focus {
            background: $black-90-bg;
        }
    }

    &.blue {
        background: $button-blue;

        &:hover,
        &:focus {
            background: $button-blue-hover;
        }
    }

    &.teal {
        background: $cy-teal;
        color: $cy-navy;
        border: $cy-teal;
        font-weight: bold;

        &:hover,
        &:focus {
            background: $cy-teal;
        }
    }

    &.white {
        background: #fff;
        color: $business-aqua-rollover;
    }
}