.rates {
    background: $personal-aqua;
    padding: 20px;
    margin-bottom: 40px;
    color: #fff;

    .rate {
        margin: 0;
    }

    .desc {
        margin: 0 0 20px 0;
    }
}

.protecting {
    background: $protecting-purple;
    padding: 20px;
    margin-bottom: 40px;
    color: #fff;
}

.tabs {
    margin: 40px 0 0 0;

    .content & {
        margin: 40px 0;
    }

    .nav-tabs {
        border-color: $table-column-two;
        background: $table-column-two;
        border: none;

        li {
            background: $table-column-one;
            margin: 0;

            &.even {
                background: $table-column-two;
            }

            a {
                text-decoration: none;
                color: #fff;
                border: none;
                border-radius: 0;
                margin: 0;
                padding: 20px 18px;

                &:hover,
                &:focus {
                    border: none;
                    background: $personal-aqua-rollover;
                    color: #fff;
                }
            }

            &.active a {
                background: $personal-aqua;
                border: none;
            }
        }
    }

    .tab-content {
        padding: 40px 20px;
        background: $bg-grey;

        h3 {
            color: $business-aqua;

            &:first-child {
                margin-top: 0;
            }
        }

        .table-responsive {
            margin-bottom: 0;
        }

        .tab-pane p:first-child,
        .tab-pane li:first-child {
            margin-top: 0;
        }
    }
}

.panel-group {
    margin: 40px 0 0 0;

    .faqs & h3 {
        margin-bottom: 20px;
    }

    .content & {
        margin: 40px 0;
    }

    .panel {
        border-radius: 0;
        border: none;
        box-shadow: none;
    }

    .panel+.panel {
        margin: 0;
    }

    .panel-heading {
        background: $table-column-one;
        border-radius: 0;
        padding: 0;
        border: none;

        &.even {
            background: $table-column-two;
        }

        a {
            text-decoration: none;
            display: block;
            color: #fff;
            margin: 0;
            padding: 20px;
            background: $personal-aqua;
            border: none;

            &.collapsed {
                background: inherit;

                &:hover,
                &:focus {
                    border: none;
                    background: $personal-aqua-rollover;
                    color: #fff;
                }
            }
        }
    }

    .panel-body {
        padding: 40px 20px;
        background: $bg-grey;
        border: none !important;

        .faqs & {
            padding-top: 20px;
        }

        h3 {
            color: $business-aqua;

            &:first-child {
                margin-top: 0;
            }
        }

        .table-responsive {
            margin-bottom: 0;
        }
    }
}

.document {
    background: no-repeat left top;
    background-size: 40px;
    padding-left: 60px;
    margin-bottom: 40px;
    min-height: 53px;

    .product-page & {
        margin: 40px 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    &.pdf {
        background-image: url(../images/icon-pdf.png);
    }

    &.word {
        background-image: url(../images/icon-word.png);
    }

    &.url {
        background-image: url(../images/icon-url.png);

        p.link {
            font-weight: normal;
        }
    }

    p.link {
        color: $business-aqua;
    }
}

table {
    width: 100%;

    td {
        padding: 20px;
        vertical-align: top;

        p {
            margin-top: 0 !important;
        }

        li {
            margin-top: 0 !important;
        }
    }

    th {
        padding: 20px;
        vertical-align: top;
        background: $business-aqua;
        color: #fff;
        border: 1px solid $white-25-bg;

        &.sub-heading {
            background: #fff;
            color: $body-font;
            font-weight: bold;
        }

        &[scope="row"] {
            background: inherit;
            color: inherit;
        }

        span {
            display: block;
        }

        &:empty {
            background: none;
        }
    }

    &.documents {
        font-weight: $font-weight-bold;

        p {
            margin: 0;
        }
    }
}

.table-responsive {
    border: none;
}

.step {
    position: relative;
    margin: 40px 0;

    .number {
        color: $business-aqua;
        border: 1px solid $business-aqua;
        border-radius: 50%;
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        position: absolute;
        top: 0;
        left: 0;
    }

    p {
        padding-left: 70px;

        &.title {
            color: $business-aqua;
            font-weight: $font-weight-bold;
        }
    }
}

.faq-list {

    .product-page & {

        .panel-group {
            margin: 15px 0;
        }
    }

    .panel-group {
        margin: 40px 0;

        .panel {
            background: none;
        }

        .panel-heading {
            background: none;
            border-radius: 0;
            padding: 20px 0;

            a {
                text-decoration: none;
                display: block;
                color: $business-aqua;
                margin: 0;
                padding: 0;
                background: none;

                &.collapsed {
                    background: inherit;

                    &:hover,
                    &:focus {
                        color: $business-aqua-rollover;
                    }
                }
            }
        }

        .panel-body {
            background: none;
            padding: 0 0 20px 0;

            p:last-child {
                margin-bottom: 0;
            }

            p:first-child {
                margin-top: 0;
            }

            .table-responsive {
                margin-bottom: 0;
            }
        }
    }
}

.result {
    margin: 40px 0;

    h2 {
        margin: 0 0 10px 0 !important;
    }
}

.interest-rates table {
    display: none;
}

.gallery {
    margin: 40px 0;


    a {
        padding: 15px 0;
        display: block;

        img {
            margin: auto;
        }
    }

    .col-sm-3 {

        @media (max-width: $screen-sm) {
            width: 50%;
            float: left;
        }
    }
}

.fancybox-thumbs {
    top: auto;
    width: auto;
    bottom: 0;
    left: 0;
    right : 0;
    height: 95px;
    padding: 10px 10px 5px 10px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.3);
  }

.fancybox-show-thumbs .fancybox-inner {
right: 0;
bottom: 95px;
}

ul.teal-bullets {
    list-style: none; /* Remove default bullets */

    li::before {
        content: "\2022";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
        color: $cy-teal; /* Change the color */
        font-weight: bold; /* If you want it to be bold */
        display: inline-block; /* Needed to add space between the bullet and the text */
        width: 1em; /* Also needed for space (tweak if needed) */
        margin-left: -1em; /* Also needed for space (tweak if needed) */
      }
}

.side-module {
    text-align: center;
    margin-bottom: 40px;
    border-bottom: 1px solid #D5D5D5;
    padding: 0 20px 20px 20px;

    img {
        margin: 0 0 20px 0;
    }

    h2 {
        margin: 0 0 20px 0 !important;
    }

    a.more-info {
        float: right;
        margin-bottom: 20px;
    }

    &.fscs {

        p {
            text-align: left;
        }
    }

    &.award {


    }
}