footer {
    background: $footer;
    color: #fff;

    a {
        color: #fff;
        text-decoration: underline;

        &:hover,
        &:focus {
            color: #fff;
        }
    }

    .features {
        background: $business-aqua;

        &.icons .image {
            margin-bottom: 20px;
            background: no-repeat 50% bottom;
            background-size: contain;
            height: 50px;

            @media (max-width: $screen-sm) {
                height: 36px;
            }
        }
    }

    .fscs-logo {
        width: 216px;
        margin-bottom: 30px;
    }

    .icon-linkedin {
        width: 24px;
    }

    .contact {
        margin-bottom: 40px;
    }

    .contact {
        margin-bottom: 40px;
    }
}

.no-nav footer {
    padding-top: 40px;
}