.search-form {

    input[type="text"] {
        position: absolute;
        top: 0;
        right: 0;
        padding: 5px 15px;
        width: 350px;
        border-radius: 20px;
        border: 1px solid $search-grey;
        display: none;

        @media (max-width: $screen-sm) {
            width: 330px;
        }
    }

    input[type="submit"] {
        position: absolute;
        top: 0;
        right: 0;
        border-radius: 50%;
        height: 33px;
        width: 33px;
        border: none;
        background: $search-grey url(../images/search-white.svg) no-repeat 50% 50%;
        background-size: 18px auto;
        text-indent: -9999px;

        &:hover,
        &:focus {
            background-color: $search-grey;
        }
    }
}

select {
    padding: 10px;
    border-radius: 5px;
    background: linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);

    &[disabled="disabled"] {
        opacity: 0.25;
    }
}

label.disabled {
    opacity: 0.25;
}