a.skip-link {

    &:focus {
        width: 100px;
        height: auto;
        clip: none;
        color: #333;
        position: relative;
    }
}

.header-logo {
    position: relative;
    padding-top: 60px;

    h1.site-logo {
        margin: 24px 0;

        img {
            width: 218px;

            @media (max-width: $screen-xs) {
                width: 250px;
            }

            &.img-responsive {
                display: inline-block;

                &.formerly {
                    display: none;
                }
            }
        }
    }

    .no-nav h1.site-logo {

        @media (max-width: $mobile-trigger) {
            margin-top: 34px;
        }
    }

    .header-search {
        position: absolute;
        top: 37px;
        right: 15px;

        @media (max-width: $screen-sm) {
            position: relative;
            top: 0;
        }

        .tel-number {
            color: $business-aqua;
            padding: 10px 60px 0 15px;

            .glyphicon {
                color: #B9C8D4;
                margin-right: 6px;
            }
        }

        .search-form {
            z-index: 10;
        }
    }
}