.container-fluid {
    max-width: 1120px;
    position: relative;
    height: 100%;
}

.module-title {
    margin: 20px 0;
    font-style: italic;
    font-weight: bold;
    color: red;
    text-align: center;
}

// html.no-nav {
//     height: 100%;

//     body {
//         height: 100%;
//     }

//     #site-wrap {
//         background: transparent;

//         header {
//             background: #fff;
//         }

//         .main-message {
//             background: #fff;
//         }
//     }
// }

body {
    background: $footer;

    /* Without this, the body has excess horizontal scroll when the menu is open */
    overflow-x: hidden;
    position: relative;

    &.no-nav {
        background: #fff;

        .page-header.curves .overlay .text h1 {

            @media (max-width: 480px) {
                font-size: 32px;
            }
        }
    }
}

.content {

    li {
        margin: 20px 0;
    }

    p + .button {
        margin-top: 20px;
    }

    .button + p {
        margin-top: 40px;
    }

    p + .documents {
        margin-top: 40px;
    }

    p + .table-responsive {
        margin-top: 40px;
    }

    h3 + .table-responsive {
        margin-top: 40px;
    }

    h4 {
        margin-top: 40px;
    }

    .table-responsive + p {
        margin-top: 40px;
    }

    ul + .table-responsive {
        margin-top: 40px;
    }
}

.cookie-bar {
    background: $business-aqua;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 2;

    p {
        padding-right: 120px;
    }

    .button {
        position: absolute;
        top: 20px;
        right: 20px;
    }
}

ol ol {
    list-style-type: lower-alpha;
}