.module {
    padding-top: 40px;
    background: white;

    &.no-padding {
        padding: 0;
    }

    &.grey {
        background: $off-white;
    }

    .intro {

        .intro-title {
            font-family: $headings-font-family;
            font-size: 23px;
            font-weight: normal;
            color: $cy-navy;
            margin: 0 0 20px 0;
        }

        .intro-text {
            color: $cy-navy;
            margin-bottom: 20px;
        }
    }

    .card {
        margin: 0 0 40px 0;
        background: white;

        &.navy-text {
            color: $cy-navy;
        }

        &.grey {
            background: $off-white;
        }

        &.white {
            background: white;
        }

        &.teal {
            background: $cy-teal-opaque;
        }

        .image {
            background: no-repeat 50% 50%;
            background-size: cover;
            height: 190px;

            &.icon {
                background: no-repeat 50% 50%;
                background-size: contain;
                height: 60px;
            }
        }

        img {
            margin: 20px auto auto auto;
        }

        .card-body {
            padding: 20px;

            .card-type {
                margin-bottom: 5px;
            }

            .card-title {
                font-family: $headings-font-family;
                font-size: 21px;
                font-weight: normal;
                color: $cy-navy;
                margin-top: 0;
            }

            a {

                &.button {
                    margin: 10px 0 0 0;
                    font-size: 14px;
                    border: none;
                }
            }

            ul.links {
                margin: 0;
                padding: 0;
                list-style: none;

                li {
                    margin: 10px 0;

                    a {
                        font-weight: bold;
                        text-decoration: none;
                        width: 50%;
                        display: block;
                        position: relative;

                        .glyphicon {
                            position: absolute;
                            right: 0;
                            line-height: 1.8em;
                        }
                    }
                }
            }
        }
    }
}

