nav {
    clear: both;

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        float: left;
    }

    li {
        float: left;
    }

    a {
        text-decoration: none;
    }
}

.section-nav {

    a {
        color: $secondary-navigation-font;
        padding: 20px 20px 12px 20px;
        display: block;

        &:hover,
        &:focus {
            text-decoration: none;
        }

        @media (max-width: $screen-sm) {
            padding: 20px 8px 12px 8px;
        }
    }

    li {
        border-bottom: 8px solid #fff;

        &.business-link.active {
            border-color: $cy-teal;

            a {
                color: $business-aqua;
            }
        }

        &.personal-link.active {
            border-color: $cy-teal;

            a {
                color: $personal-aqua;
            }
        }

        &.international-link.active {
            border-color: $cy-teal;

            a {
                color: $cy-navy;
            }
        }

        &.brokers-link.active {
            border-color: $cy-teal;

            a {
                color: $cy-navy;
            }
        }

        &.intermediary-link.active {
            border-color: $cy-teal;

            a {
                color: $cy-navy;
            }
        }

        &.solicitors-link.active {
            border-color: $cy-teal;

            a {
                color: $cy-navy;
            }
        }
    }
}

.header-nav {
    background: $off-white;
    position: fixed;
    width: 100%;
    z-index: 100;

    .navbar {
        min-height: 58px;
        margin: 0;
        border: none;
    }

    a {
        color: $cy-navy;
        padding: 14px 40px 20px 40px;
        display: block;
        border-top: 6px solid transparent;

        &:hover,
        &:focus,
        &.active {
            text-decoration: none;
            background: white;
            border-color: $cy-teal;
        }
    }

    .pillar-nav {

        @media (max-width: $mobile-trigger) {
            display: none;
        }
    }

    .login-nav {
        position: absolute;
        top: 0;
        right: 15px;
        margin-right: 0;

        .dropdown-backdrop {
            display: none;
        }

        a {
            padding: 14px 20px 20px 20px;

            &:hover,
            &:focus {
                border-color: transparent;
            }
        }

        .dropdown-menu {
            border: 1px solid $off-white;
            border-top: none;
            -webkit-box-shadow: none;
            box-shadow: none;
            margin: 0;
            border-radius: 0;
            width: 271px;
            left: 0;
            right: auto;

            li {
                float: none;
            }

            a {
                padding: 10px 20px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    background: inherit;
                }
            }
        }

        .login-links {

            a.dropdown-toggle {
                color: #fff;
                display: block;
                background: $personal-aqua;
            }

            .dropdown-menu {
                background: $personal-aqua;
                border: none;
                min-width: auto;
                right: 0;
                left: auto;
                width: auto;

                a {
                    color: #fff;
                    white-space: nowrap;

                    &:hover,
                    &:focus {
                        color: #fff;
                    }
                }
            }
        }
    }
}

.personal-sub-nav {
    background: $personal-aqua;

    a:hover,
    a:focus,
    .active {
        background: $personal-aqua-rollover;
        text-decoration: none;
    }
}

.business-sub-nav {
    background: $business-aqua;

    a:hover,
    a:focus,
    .active {
        background: $business-aqua-rollover;
        text-decoration: none;
    }
}

.brokers-sub-nav {
    background: $brokers;

    a:hover,
    a:focus,
    .active {
        background: $brokers-rollover;
        text-decoration: none;
    }
}

.international-sub-nav {
    background: $international;

    a:hover,
    a:focus,
    .active {
        background: $international-rollover;
        text-decoration: none;
    }
}

.intermediary-sub-nav {
    background: $intermediary;

    a:hover,
    a:focus,
    .active {
        background: $intermediary-rollover;
        text-decoration: none;
    }
}

.solicitors-sub-nav {
    background: $solicitors;

    a:hover,
    a:focus,
    .active {
        background: $solicitors-rollover;
        text-decoration: none;
    }
}

.back-nav {
    padding: 10px 0;

    a {
        color: #fff;

        .glyphicon {
            margin-left: 0;
            margin-right: 10px;
            font-size: 75%;
        }
    }
}

.brokers-back-nav {
    background: $brokers-rollover;
}

.international-back-nav {
    background: $international-rollover;
}

.intermediary-back-nav {
    background: $intermediary-rollover;
}

.sub-nav {

    @media (max-width: $mobile-trigger) {
        display: none;
    }

    a {
        color: #fff;
        padding: 20px;
        display: block;
        min-height: 80px;
    }
}

.footer-menu {
    border-bottom: 2px solid $footer-light-blue;
    margin-bottom: 40px;
    padding: 20px 0;

    ul {
        list-style: none;
        margin: 0;
        border-left: 2px solid $footer-light-blue;

        @media (max-width: $screen-xs) {
            padding: 0;
            border: none;
        }

        li {
            margin: 10px 0;

            @media (max-width: $screen-xs) {
                width: 100%;
                text-align: center;
            }
        }
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    .footer-buttons {
        text-align: center;

        a {
            margin-top: 20px;
            display: inline-block;

            img {
                margin: 0;
            }
        }
    }
}

.legal-links {
    text-align: center;
    border-top: 2px solid $footer-light-blue;
    padding-top: 20px;

    a {
        text-decoration: none;
        display: inline-block;
        padding: 0 20px 20px 20px;

        @media (max-width: $screen-sm) {
            padding: 0 10px 20px 10px;
        }
    }
}

// Mobile nav - https://www.sitepoint.com/pure-css-off-screen-navigation-menu/

#mobile-nav {
    /* critical sizing and position styles */
    width: 270px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: -270px;
    z-index: 2;
    display: none;

    /* non-critical appearance styles */
    list-style: none;
    background: $business-aqua;

    &.open {
        left: 0;
    }

    /* Navigation Menu - List items */
    .nav-item {
        /* non-critical appearance styles */
        width: 270px;
        border-bottom: 1px solid rgba(255,255,255,0.25);
        float: none;
        background: $table-column-two;
        clear: both;

        &.open > a .glyphicon {
            -webkit-transform: scaleY(-1);
            transform: scaleY(-1);
        }

        .dropdown-backdrop {
            display: none;
        }

        a {
            /* non-critical appearance styles */
            display: block;
            padding: 1em;
            color: white;
            text-decoration: none;
            position: relative;

            .glyphicon {
                position: absolute;
                right: 15px;
                top: 18px;
            }
        }

        &.open,
        a:hover {
            background: $personal-aqua;
        }

        ul li {
            background: $table-column-two;

            a {
                padding-left: 26px;

                &:hover {
                    background: inherit;
                }
            }
        }

        .dropdown-submenu {

            &.open {
                background: $business-aqua-rollover;
            }

            ul.dropdown-menu li {
                background: #fff;
                border-bottom: 1px solid rgba(0,0,0,0.15);

                a {
                    color: $business-aqua;
                    padding-left: 36px;

                    &:hover,
                    &:focus {
                        background: $personal-aqua;
                        color: #fff;
                    }
                }
            }
        }

        &.section-link {
            background: $business-aqua;

            &.open,
            a:hover {
                background: $personal-aqua;
            }

            ul li {
                background: $business-aqua-rollover;

                a:hover {
                    background: inherit;
                }
            }

            .dropdown-submenu {

                &.open {
                    background: $business-aqua-rollover;
                }

                ul.dropdown-menu li {
                    background: #fff;
                    border-bottom: 1px solid rgba(0,0,0,0.15);

                    a {
                        color: $business-aqua;

                        &:hover,
                        &:focus {
                            background: $personal-aqua;
                            color: #fff;
                        }
                    }
                }
            }
        }
    }

    .dropdown-menu {
        border-radius: 0;
        background: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none;
        position: static;
        width: 100%;
        clear: both;
        padding: 0;
        margin: 0;
        border-top: 1px solid rgba(255,255,255,0.25);
    }
}

#site-wrap {
    /* Critical position and size styles */
    min-height: 100%;
    min-width: 100%;
    background-color: white; /* Needs a background or else the nav will show through */
    position: relative;
    top: 0;
    bottom: 100%;
    left: 0;
    z-index: 1;

    &.open {
        left: 270px;
    }
}



.navbar-toggle {
    /* critical positioning styles */
    position: fixed;
    left: 15px;
    top: 15px;
    z-index: 2;
    display: none;
    padding: 0;
    margin: 0;
    border-radius: 0;

    /* non-critical apperance styles */
    height: 32px;
    width: 30px;
    cursor: pointer;

    @media (max-width: $mobile-trigger) {
        display: block;
    }

    .icon-bar {
        background: $business-aqua;
        width: 30px;
        height: 3px;
        display: block;
        transition: all 0.3s ease-in-out;
    }

    .icon-bar+.icon-bar {
        margin-top: 6px;
    }

    &.open {
        left: 285px;

        .icon-bar {
            background: #fff;
        }
    }
}

.blackout {
    background: rgba(0,0,0,0.75);
    width: 100%;
    min-height: 100%;
    position: fixed;
    z-index: 2;
    display: none;
}

.dropdown-submenu {
    position: relative;

    > a.open .glyphicon {
        -webkit-transform: scaleY(-1);
        transform: scaleY(-1);
    }
}

.dropdown-menu > li > a {
    &:hover,
    &:focus {
        background-color: inherit;
    }
}

.side-nav {
    margin-bottom: 40px;

    .glyphicon {
        position: absolute;
        top: 0;
        left: 0;
        margin: 6px 0 0 0;
        font-weight: bold;
    }

    ul {
        float: none;
    }

    li {
        float: none;
        margin: 0 0 20px 0;

        &.active  {
            font-weight: $font-weight-bold;
        }
    }

    a {
        color: $business-aqua;
        text-decoration: underline;
        position: relative;
        padding-left: 20px;
    }
}

.news-nav {
    margin-bottom: 40px;

    li {
        padding-right: 20px;
    }

    a {
        color: $secondary-navigation-font;

        &:hover,
        &:focus,
        &.active {
            color: $business-aqua;
        }
    }

}

.dropdown-menu>li>a {
    white-space: normal;
}