#page-header-carousel {

    .overlay {
        min-height: 408px;
    }

    .carousel-indicators {
        position: static;
        margin: -50px 0 0 0;
        text-align: left;
        width: auto;
        padding: 0 40px;

        li {
            margin: 0 10px 0 0;
            background: $white-25-bg;
            border: none;
            width: 12px;
            height: 12px;
            border-radius: 12px;

            &.active {
                background: #fff;
            }
        }
    }
}

.page-header {
    background: no-repeat 50% top;
    background-size: cover;
    padding: 0;
    margin: 0;
    border: none;

    h1 {
        color: $business-aqua;
        margin: 40px 0 0 0 ;

        span {
            color: $body-font;
        }
    }

    .overlay {
        background: $black-60-bg;
        width: 546px;
        color: #fff;
        padding: 100px 40px 100px 40px;
        position: relative;

        @media (max-width: $screen-sm) {
            width: 440px;
        }

        @media (max-width: $screen-xs) {
            width: 300px;
            padding: 60px 20px 100px 20px;
        }

        h1 {
            margin: 0 0 20px 0;
            color: inherit;

            span {
                color: inherit;
            }
        }

        a.button {
            margin-top: 20px;
        }

        .last-updated {
            position: absolute;
            bottom: 20px;
            left: 040px;
            font-size: 86%;
        }
    }

    &.curves {

        .tel {
            font-weight: bold;
            white-space: nowrap;
        }

        .container-fluid {
            overflow: hidden;
        }

        .right-blue-bg {
            background: $navy;
            height: 460px;
            position: absolute;
            right: 0;
            top: 0;
            width: 33%;
            display: none;
        }

        .overlay {
            float: right;
            background: none;
            padding: 0;
            vertical-align: bottom;

            @media (max-width: $screen-sm) {
                width: 440px;
            }

            @media (max-width: $screen-xs) {
                width: 100%;
                padding: 60px 20px 100px 20px;
            }

            .text {
                position: absolute;
                max-width: 360px;
                bottom: 60px;
                right: 40px;

                @media (max-width: $screen-sm) {
                    right: 20px;
                }

                @media (max-width: $screen-xs) {
                    bottom: 80px;
                }

                h1 {

                    @media (max-width: $screen-xs) {
                        margin: 0;
                    }
                }
            }
        }

        .curve-outer {

            background: $cy-teal-opaque;
            position: absolute;
            width: 1340px;
            height: 780px;
            left: 100px;
            right: auto;
            bottom: -50%;
            border-radius: 100% 0 0 0;

            @media (max-width: $screen-md) {
                left: -190px;
            }

            @media (max-width: 720px) {
                left: -500px;
            }

            .curve {
                background: $cy-teal;
                position: absolute;
                width: 1200px;
                height: 785px;
                right: 0;
                bottom: 0;
                border-radius: 100% 0 0 0;

                .inner {
                    background: $cy-navy;
                    position: absolute;
                    width: 1125px;
                    height: 790px;
                    right: 0;
                    bottom: 0;
                    border-radius: 100% 0 0 0;
                }
            }
        }

        &.teal {

            .curve-outer {
                background: $cy-teal-opaque;

                .curve  {
                    background: $cy-teal;
                }
            }

        }

        &.blue {

            .curve-outer {
                background: $cy-blue-opaque;

                .curve  {
                    background: $cy-blue;
                }
            }

        }

        &.orange {

            .curve-outer {
                background: $cy-orange-opaque;

                .curve  {
                    background: $cy-orange;
                }
            }

        }

        &.red {

            .curve-outer {
                background: $cy-red-opaque;

                .curve  {
                    background: $cy-red;
                }
            }
        }
    }
}

.image-feature {
    background: no-repeat 50% top;
    background-size: cover;
    padding: 0;
    margin: 0;

    a.button {
        margin-top: 20px;
    }

    .overlay {
        background: $black-60-bg;
        width: 546px;
        color: #fff;
        padding: 100px 40px 80px 40px;

        @media (max-width: $screen-sm) {
            width: 440px;
        }

        @media (max-width: $screen-xs) {
            width: 300px;
            padding: 60px 20px 20px 20px;
        }

        h2 {
            margin: 0 0 20px 0;
        }
    }
}

.content {

    .images {
        float: right;
        padding-left: 30px;

        img {
            margin: 0 auto 30px auto;
        }
    }
}

.grey-feature {
    background: $bg-grey;
    padding: 0;
    margin: 0;

    a.button {
        margin-top: 20px;
    }

    .bg {
        background: no-repeat right bottom;

        @media (max-width: $screen-md) {
            background: no-repeat right bottom;
            background-size: 430px;
        }

        @media (max-width: $screen-sm) {
            background: no-repeat 50% bottom;
            background-size: 430px;
        }

        @media (max-width: $screen-xs) {
            background-size: 300px;
        }

        .overlay {
            width: 546px;
            padding: 40px 0;
            color: $bg-grey-font;

            @media (max-width: $screen-sm) {
                width: 100%;
                padding-bottom: 240px;
            }

            @media (max-width: $screen-xs) {
                width: 100%;
                padding: 60px 0 180px 0;
            }

            h2 {
                margin: 0 0 20px 0;
            }
        }
    }

    &.map {

        .overlay {

            @media (max-width: $screen-sm) {
                padding-bottom: 300px;
            }

            @media (max-width: $screen-xs) {
                padding: 60px 0 200px 0;
            }
        }
    }
}

.documents-feature {
    padding: 80px 0 40px 0;

    h2 {
        margin: 0 0 60px 0;
    }
}

.features {
    padding: 40px 0 0 0;

    &.grey {
        background: $bg-grey;
    }

    .image {
        background: no-repeat 50% top;
        background-size: cover;
        height: 190px;
    }

    .feature {
        padding-bottom: 40px;

        h2 {
            margin: 0 0 20px 0;
            color: $bg-grey-font;
        }
    }

    &.main-message {
        text-align: center;

        .intro {
            padding: 20px;

            h2 {
                font-size: 20px;
            }

            .tel {
                font-weight: bold;
                white-space: nowrap;
                display: block;
                margin-top: 10px;
            }
        }
    }

    &.icons {
        text-align: center;

        .image {
            margin-bottom: 20px;
            background: no-repeat 50% bottom;
            background-size: contain;
            height: 60px;
        }

        h2 {
            margin: 0 0 30px 0;
        }

        &.contact {
            text-align: left;

            .image {
                background: no-repeat left bottom;
                background-size: contain;
                height: 50px;
            }

            h2 {
                margin: 0;
                color: $business-aqua;
            }
        }
    }

    .intro {
        margin-bottom: 40px;

        h2 {
            margin-top: 0;
        }
    }
}

.offices {
    padding: 80px 0 0 0;

    h2 {
        margin: 0 0 60px 0;
        text-align: center;
    }

    h3 {
        margin: 0;
        color: $business-aqua;
    }

    .office {
        padding-bottom: 60px;
    }
}

.content-with-left-menu {
    padding: 40px 0;

    h2 {
        color: $business-aqua;

        &:first-child {
            margin: 0 0 40px 0;
        }
    }

    h3 {
        margin-top: 40px;
    }

    .content {
        padding-bottom: 20px;
    }

    .side {

        @media (min-width: $screen-md) {
            padding-right: 40px;
        }
    }
}

.content-full-width {
    padding: 40px 0;

    h2 {
        color: $business-aqua;

        &:first-child {
            margin: 0 0 40px 0;
        }
    }

    h3 {
        margin-top: 40px;
    }

    .content {
        padding-bottom: 20px;
    }

    select {
        width: 100%;
        margin-bottom: 40px;
    }
}

.meet-the-team {

    form {
        border-bottom: 1px solid $search-grey;
    }

    label {
        width: 100%;
    }

    select {
        width: 100%;
        margin-bottom: 40px;
    }

    .type {
        padding: 40px 0;
    }

    .contact {
        padding: 40px 0 0 0;
        border-top: 1px solid $search-grey;

        p {
            margin: 0;
        }

        .area,
        .name {
            color: $business-aqua;
            font-weight: $font-weight-bold;
        }

        .title,
        .tel,
        .mobile,
        .email {
            font-weight: $font-weight-bold;
        }

        .title {
            margin-bottom: 20px;
        }

        .meetings {
            font-style: italic;
        }

    }

    .location {
        margin-bottom: 40px;
    }

    .person {
        position: relative;
        border-bottom: 1px solid $search-grey;
        padding-bottom: 40px;
        margin-bottom: 40px;

        &:last-child {
            border: none;
            margin-bottom: 0;
        }


        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 119px;
            height: 148px;

            @media (max-width: $screen-sm) {
                position: static;
                margin-bottom: 20px;
            }
        }

        .details {
            padding-left: 140px;
            min-height: 148px;
            margin-bottom: 20px;

            @media (max-width: $screen-sm) {
                padding-left: 0;
                min-height: auto;
            }
        }
    }
}

.rates-tables {
    margin-bottom: 40px;

    select {
        width: 100%;
        margin-bottom: 40px;
    }
}

.news-articles {
    padding: 40px 0;

    article {
        margin-bottom: 40px;

        p.date {
            margin-bottom: 10px;
        }

        h2 {
            color: $business-aqua;
            margin-top: 0;
        }
    }

    .image {
        background: no-repeat 50% top;
        background-size: cover;
        height: 190px;
    }
}

.news-enquiry {
    padding: 40px 0;
    background: $personal-aqua;
    color: #fff;


    a {
        color: #fff;
    }

    .person {
        padding: 20px;
    }

    .contact-details {
        border-left: 1px solid $white-25-bg;
        padding: 20px;

        @media (max-width: $screen-sm) {
            border-left: none;
            border-top: 1px solid $white-25-bg;
        }
    }
}

.news-article {
    padding: 40px 0;

    img {
        float: right;
        margin: 0 0 20px 20px;
        max-width: 50%;

        @media (max-width: $screen-sm) {
            max-width: 100%;
            float: none;
            margin: 0 0 20px 0;
        }
    }

    .share {
        margin: 40px 0;

        .icons {
            display: inline-block;

            a {
                text-decoration: none;

                &:hover,
                &:focus {
                    opacity: .5;
                }
            }

            .icon {
                width: 40px;
                height: 40px;
                display: inline-block;
                margin: 2px;

                &:first-child {
                    margin-left: 0;
                }

                &.facebook {
                    background: url(../images/share-facebook.png) no-repeat 50% 50%;
                    background-size: contain;
                }

                &.twitter {
                    background: url(../images/share-twitter.png) no-repeat 50% 50%;
                    background-size: contain;
                }

                &.linkedin {
                    background: url(../images/share-linkedin.png) no-repeat 50% 50%;
                    background-size: contain;
                }

                &.email {
                    background: url(../images/share-email.png) no-repeat 50% 50%;
                    background-size: contain;
                }
            }
        }
    }
}

.faqs {

    form {
        border-bottom: 1px solid $search-grey;
    }

    .faq-list {
        margin: 40px 0;
        border-bottom: 1px solid $search-grey;

        &:last-child {
            border: none;
        }
    }
}

.alerts {
    margin-top: 30px;

    &.alerts-carousel {
        padding: 0 15px;
        overflow: hidden;

        .item {

            @media (max-width: $screen-sm) {
                padding: 0 5px;
            }

            h2 {

                @media (max-width: $screen-sm) {
                    font-size: 24px;
                }
            }
        }
    }

    .item {
        padding: 0 15px;

        .alert {
            background: $bg-grey;
            padding: 40px;
            margin: 0;
            border-radius: 0;

            @media (max-width: $screen-sm) {
                padding: 20px;
            }

            .image {
                float: left;

                @media (max-width: $screen-sm) {
                    float: none;
                    margin: 0 auto 20px auto;
                }

                img {
                    width: 180px;
                }
            }

            .text {
                margin-left: 220px;

                @media (max-width: $screen-sm) {
                    margin-left: 0;
                }
            }

            p {
                margin: 15px 0;
            }

            h2 {
                margin-top: 0;
            }
        }
    }
}

.how-to-apply {
    background: $cy-teal-25;
    padding: 40px 218px 40px 20px;
    margin: 40px 0;
    position: relative;
    height: auto;

    @media (max-width: 500px) {
        padding: 30px;
    }

    .apply-button {
        position: absolute;
        top: 30px;
        right: 30px;
        text-align: right;

        @media (max-width: 500px) {
            position: static;
        }

        a {
            margin: 0 auto 15px auto;
            font-weight: bold;
            border: none;

            .glyphicon {
                margin-left: 5px;
            }

            @media (max-width: $screen-sm) {
                width: 100%;
                text-align: center;
                margin-bottom: 40px;
            }
        }

        img {
            display: block;
            margin: 0 auto;

            @media (max-width: 500px) {
                display: none;
            }
        }
    }

    h2 {
        margin: 0 0 30px 0 !important;
        color: $cy-navy;
    }

    p {
        color: $bg-grey-font;
    }
}

.at-a-glance {
    margin: 40px 0;

    .row {
        margin-left: 0;
        margin-right: 0;
    }

    .block {
        color: $bg-grey-font;

        &.col-sm-6 {
            padding: 0;

            &:first-child {
                padding: 0 5px 5px 0;
            }

            &:nth-child(2) {
                padding: 0 0 5px 5px;
            }

            &:nth-child(3) {
                padding: 5px 5px 0 0;
            }

            &:last-child {
                padding: 5px 0 0 5px;
            }

            @media (max-width: 767px) {
                padding: 0 0 10px 0 !important;
            }
        }
    }

    .stand-out {
        border: 2px solid $cy-teal;
        color: $cy-navy;
        padding: 30px 20px 30px 20px;
    }

    .grey {
        background: $bg-grey;
        padding: 30px 20px 30px 20px;
    }

    h2 {
        color: $bg-grey-font;
        // margin: 0 0 30px 0 !important;
        margin: 0;
    }
}

.summary-box {
    background: $bg-grey;
    padding: 40px 20px 1px 20px;
    color: $bg-grey-font;

    .product-info {
        background: #fff;
        padding: 40px 20px 25px 20px;
        margin: 40px 0;

        h3 {
            // margin: 0 0 30px 0;
            margin: 0;
            color: $cy-navy;
        }
    }

    h2 {
        color: $bg-grey-font;
    }

    table {

        td {
            border: 2px solid $bg-grey;
        }
    }
}

.product-page .content-with-left-menu {

    .side {

        @media (min-width: $screen-md) {
            padding-right: 0;
        }
    }

    .side-nav {
        margin-bottom: 80px;

        @media (min-width: $screen-md) {
            padding-right: 40px;
        }
    }
}