p {
    margin: 15px 0;
}

h2,
h3,
h4 {
    font-weight: $font-weight-bold;
}

th.normal {
    font-weight: $font-weight-normal;
}

// Navigation

.section-nav a {
    font-size: $font-size-section-nav;
    font-weight: $font-weight-bold;
}

.header-nav a {
    font-size: $font-size-pillar-nav;
    font-weight: $font-weight-normal;
}

.sub-nav a {
    font-size: $font-size-sub-nav;
    font-weight: $font-weight-semi-bold;
}

.footer-menu a {
    font-size: $font-size-footer-nav;
    font-weight: $font-weight-semi-bold;

    &.button {
        font-weight: $font-weight-bold;
    }
}

#mobile-nav a {
    font-weight: $font-weight-bold;
    font-size: $font-size-mobile-nav;
}

#mobile-nav .nav-item.section-link a {
    font-size: $font-size-mobile-nav-section;

    &.dropdown-toggle {
        font-size: $font-size-mobile-nav-section-title;
    }
}

.news-nav {
    font-size: $font-size-news-nav;
    font-weight: $font-weight-bold;
}

.news-articles article {

    p.date {
        font-size: $font-size-news-date;
        font-weight: $font-weight-bold;
    }

    h2 {
        font-size: $font-size-news-h2;
        font-weight: $font-weight-bold;
    }
}

.news-enquiry {
    font-size: $font-size-news-enquiry;
}

// Header

.tel-number {
    font-size: $font-size-header-tel;
    font-weight: $font-weight-bold;
}

// Footer

footer {
    font-size: $font-size-footer;

    .legal {
        font-size: $font-size-footer-legal;
    }

    .contact {
        font-size: $font-size-footer-contact;
    }
}

// Forms

input[type="text"] {
    font-weight: $font-weight-normal;
}

// Page header

.page-header {

    p {
        font-size: $font-size-page-header-p;
        font-weight: $font-weight-light;
    }

    h1 {
        font-size: $font-size-page-header-h1;
        font-weight: $font-weight-light;

        span {
            font-size: 50%;
            display: block;
        }
    }

    a {
        font-weight: $font-weight-bold;

        .glyphicon {
            font-weight: $font-weight-bold;
        }
    }
}

// Image feature

.image-feature h2 {
    font-size: $font-size-image-feature-h2;
    font-weight: $font-weight-light;
}

// Feature

.features h2 {
    font-size: 21px;
    font-weight: $font-weight-light;
}

.features .intro h2 {
    font-size: $font-size-features-intro-h2;
    font-weight: $font-weight-light;
}

.features.icons h2 {
    font-size: $font-size-features-icons-h2;
    font-weight: $font-weight-light;
}

.features.icons h3 {
    font-size: 19px;
    font-weight: $font-weight-normal;
}

.features.icons.contact h2 {
    font-size: $font-size-base;
    font-weight: $font-weight-bold;
}

.offices {

    h2 {
        font-size: $font-size-offices-h2;
        font-weight: $font-weight-light;
    }

    h3 {
        font-size: $font-size-base;
        font-weight: $font-weight-bold;
    }
}

// Grey feature

.grey-feature h2 {
    font-size: $font-size-grey-feature-h2;
    font-weight: $font-weight-light;
}

// Documents feature

.documents-feature h2 {
    font-size: $font-size-documents-feature-h2;
    font-weight: $font-weight-light;
}

// Tabs & accordions

.tabs {

    .tab-content {

        h3 {
            font-size: $font-size-tabs-h3;
            font-weight: $font-weight-bold;
        }

        h4 {
            line-height: $font-size-tabs-h4-line-height;
        }
    }

    .nav-tabs li a {
        font-weight: $font-weight-bold;
    }
}

.panel-group {

    .panel-body {

        h3 {
            font-size: $font-size-tabs-h3;
            font-weight: $font-weight-bold;
        }

        h4 {
            line-height: $font-size-tabs-h4-line-height;
        }
    }

    .panel-title {
        font-weight: $font-weight-bold;
        font-size: $font-size-base;
    }

}

.document {

    p {
        font-weight: $font-weight-normal;
    }

    p.link {
        font-weight: $font-weight-bold;
    }
}

table.documents .document {

    p {
        font-size: $font-size-document-library-document-desc;
    }

    p.link {
        font-size: $font-size-base;
    }
}

// Rates

.rates {

    .rate {
        font-size: $font-size-rate;
        font-weight: $font-weight-bold;
        line-height: $font-size-rate;
    }

    .desc {
        font-size: $font-size-rate-desc;
        font-weight: $font-weight-bold;
        line-height: $font-size-rate-desc;
    }
}

// Step

.step .number {
    font-size: $font-size-step-number;
}

// Search results

.result h2 {
    font-size: $font-size-base;
}

// Alert / Alerts carousel

.alerts h2 {
    font-size: $font-size-grey-feature-h2;
    font-weight: $font-weight-light;
}

// Product page

.product-page {

    // h2.page-title {
    //     font-size: 30px;
    //     font-weight: 500;
    // }

    // .how-to-apply h2 {
    //     font-size: 24px;
    //     font-weight: 500;
    // }

    .at-a-glance {

        .block {

            // h2 {
            //     font-size: 19px;
            //     font-weight: 500;
            // }

            .stand-out .title {
                font-size: 60px;
                font-weight: $font-weight-bold;
                line-height: 1em;

                span {
                    font-size: 15px;
                }
            }
        }
    }

    // .summary-box {

    //     h2 {
    //         font-size: 24px;
    //         font-weight: 500;
    //     }

    //     .product-info {

    //         h3 {
    //             font-size: 22px;
    //             font-weight: 500;
    //         }
    //     }
    // }

    .side-module {

        h2 {
            font-size: 19px;
            font-weight: 500;
        }
    }
}

.tagline {
    font-size: 21px;
    font-weight: normal;
    font-family: $headings-font-family;
    padding: 20px 0;
    border-top: 1px solid $off-white;
}

.legal-links {

    a {
        font-size: 12px;
        font-weight: 600;
    }
}