.float-right {
    float: right !important;
}

img.float-right {
    padding: 0 0 20px 20px;
}

.float-left {
    float: left !important;
}

img.float-left {
    padding-right: 0 20px 20px 0;
}

.nowrap {
    white-space: nowrap;
}