// COLOURS

// Cynergy rebrand
$cy-navy: #003D4C;
$cy-navy-rollover: #00303C;
$cy-teal: rgba(0,209,182,1);
$cy-teal-opaque: rgba(0,209,182,0.4);
$cy-warm-grey: #796E65;
$cy-warm-grey-rollover: #62584E;

// Cynergy curves
$cy-orange: rgb(212,93,0);
$cy-orange-opaque: rgba(212,93,0,0.4);
$cy-red: rgb(133,21,15);
$cy-red-opaque: rgba(133,21,15,0.4);
$cy-blue: rgb(117,187,214);
$cy-blue-opaque: rgba(117,187,214,0.4);





$cy-teal-25: rgba(0,209,182,.25);

$navy: #003D4C;
$teal: $cy-teal;

$link-color: #006881;

$business-aqua: $cy-navy;
$business-aqua-rollover: $cy-navy-rollover;

$personal-aqua: $cy-navy;
$personal-aqua-rollover: $cy-navy-rollover;

$body-font: #666C71;

$secondary-navigation-font: #546470;

$footer: $cy-navy-rollover;

$off-white: #EFF2F5;

$brokers: $cy-warm-grey;
$brokers-rollover: $cy-warm-grey-rollover;

$international: $cy-warm-grey;
$international-rollover: $cy-warm-grey-rollover;

$intermediary: $cy-warm-grey;
$intermediary-rollover: $cy-warm-grey-rollover;

$solicitors: $cy-warm-grey;
$solicitors-rollover: $cy-warm-grey-rollover;

$table-column-one: #38424C;
$table-column-two: #414B55;

$search-grey: #b9c8d4;

$login-blue: #5E798F;
$login-dark-blue: #4f6f88;

$footer-light-blue: #224B55;

$black-50-bg: rgba(0,0,0,0.5);
$black-60-bg: rgba(0,0,0,0.6);
$black-70-bg: rgba(0,0,0,0.6);
$black-90-bg: rgba(0,0,0,0.9);

$white-25-bg: rgba(255,255,255,0.25);

$bg-grey: rgba(239,242,245,1);

$bg-grey-font: #333;

$button-blue: $business-aqua;
$button-blue-hover: $business-aqua-rollover;

$protecting-purple: #8c4a92;

// FONT SETTINGS

$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-serif: 'Open Sans', sans-serif;

$headings-font-family: "Gotham Rounded A", "Gotham Rounded B", sans-serif;

$icon-font-path: "../fonts/";

$text-color: $body-font;

$headings-line-height:    1.1;

// Font sizes - Desktop

$font-size-base: 15px;

$font-size-h1: 36px;
$font-size-h2: 22px;
$font-size-h3: 18px;
$font-size-h4: 16px;

$font-size-footer: 15px;
$font-size-footer-legal: 13px;
$font-size-footer-contact: 13px;

$font-size-section-nav: 18px;
$font-size-pillar-nav: 13px;
$font-size-login-nav: 13px;
$font-size-sub-nav: 14px;
$font-size-footer-nav: 12px;

$font-size-mobile-nav: 14px;
$font-size-mobile-nav-section-title: 18px;
$font-size-mobile-nav-section: 14px;

$font-size-header-tel: 14px;

$font-size-page-header-h1: 36px;
$font-size-page-header-p: 18px;

$font-size-image-feature-h2: 30px;
$font-size-grey-feature-h2: 30px;
$font-size-documents-feature-h2: 30px;

$font-size-features-h2: 24px;
$font-size-features-icons-h2: 30px;
$font-size-features-intro-h2: 30px;

$font-size-rate: 60px;
$font-size-rate-desc: 24px;

$font-size-tabs-h3: 18px;

$font-size-tabs-h4-line-height: 1.5;

$font-size-step-number: 30px;

$font-size-document-library-document-desc: 12px;

$font-size-news-nav: 22px;
$font-size-news-date: 13px;
$font-size-news-h2: 15px;
$font-size-news-enquiry: 18px;

$font-size-offices-h2: 30px;

// Font weights

$font-weight-light: 300;
$font-weight-normal: 400;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// MOBILE NAV TRIGGER

$mobile-trigger: 990px;
$screen-sm: 767px;