/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number]::-ms-clear {
    width: 0;
    height: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.card-body .form-group .fa-2x {
    font-size: 1.5em;
}

.card-body .form-group h3 {
    margin-top: 0;
}

.overdraft-calc {
    margin: 30px auto
}

    .overdraft-calc hr {
        border-top: 2px solid white;
    }

.card label {
    display: block;
    padding: 5px;
}

.card select {
    display: inline-block;
}

.calc-help {
    display: inline-block;
    margin-left: 30px
}

    .calc-help a {
        padding: 5px
    }

.unarranged {
    background: #FFF;
    border-radius: 5px;
    padding: 15px;
    margin: 30px -10px;
}

.calc-results .unarranged p {
    color: #666C71;
    margin: 0 0 10px;
}

#ex6CurrentSliderValLabel {
    display: inline-block;
    padding: 10px;
    border: 1px solid #EFF2F5;
    border-radius: 2px;
    min-width: 100px;
    margin-left: 30px;
    background: white;
}

#overdraftAmount {
    font-size: 150%;
    font-weight: 500;
}

.calc {
    background: #EFF2F5;
    border-radius: 2px;
    padding: 30px;
}

#numberOfDaysOD {
    margin-top: 10px;
    font-size: 150%;
    width: 225px;
    background: white;
    padding: 25px 10px;
    border: none;
    border-radius: 5px;
    position: relative;
    display: inline-block;
}

#AMslider-value,
#odSlider-value,
#odDaysSlider-value {
    margin-top: 20px;
    font-size: 150%;
    width: 225px;
    background: white;
    padding: 9px 10px 9px 25px;
    border: none;
    position: relative;
    left: -34px;
    border-radius: 5px;
}

#odDaysSlider-value {
    padding: 9px 10px 9px 15px;
}

.days {
    position: relative;
    z-index: 101;
    display: inline-block;
    left: 175px;
}

::placeholder {
    font-size: 16px;
    font-style: italic;
}

.calc-results {
    background: #003D4C;
    border-radius: 2px;
    padding: 30px;
    position: relative;
    margin-top: 15px;
}

.results {
    /*position: absolute;
    bottom: 20px;
    left: 10%;
    width: 80%;*/
}

.overdraft-calc .col-sm-4 {
    padding-left: 0;
}

.calc-results h3 {
    margin-top: 3px;
    margin-bottom: 0;
    color: white;
    font-weight: 500;
    font-size: 19px;
    line-height: 1.25;
}

.calc-results p {
    color: white;
    margin-top: -10px;
}

    .calc-results p span {
        font-size: 55px;
        letter-spacing: -1px;
        font-weight: 700;
        display: inline-block;
        margin-left: 2px;
    }

.rep-example {
    margin-top: 30px;
    padding: 15px;
    background: #EFF2F5;
    border-radius: 2px;
}

.cut-out {
    padding: 15px;
    background: white;
    border-radius: 2px;
    margin-bottom: 15px;
}

    .cut-out + .cut-out {
        padding: 15px;
        background: none;
        border-radius: 2px;
        margin-bottom: 0;
    }

.content-with-left-menu .rep-example h2:first-child {
    margin: 0;
    padding-bottom: 5px;
}

.rep-example .button.blue.float-right {
    margin-top: 50px;
}

.results h3 {
    margin-bottom: 30px;
    line-height: 1.2;
}

.results p {
    font-size: 1.2em;
}

.results .smallprint {
    font-size: 0.8em;
}

.results hr + h3,
.results .unarranged + h3 {
    margin-bottom: 0;
}

.borrowing {
    margin-bottom: 0;
}

@media only screen and (max-width: 996px) {
    .results br {
        display: none;
    }
}

@media only screen and (max-width: 960px) {
    .overdraft-calc .col-sm-8,
    .overdraft-calc .col-sm-4 {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .calc-help {
        display: none;
    }

    #ex6CurrentSliderValLabel {
        margin-top: 20px;
        margin-left: 0px;
    }

    .slider.slider-horizontal .slider-tick, .slider.slider-horizontal .slider-handle {
        margin-left: -25px;
        margin-top: -15px;
    }

    .slider-handle {
        width: 50px;
        height: 50px;
    }

    .results {
        position: relative;
        left: 0%;
        width: 100%;
    }

        .results .card-body {
            padding-top: 20px;
        }

        .results br {
            display: none;
        }
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
    background-color: #003D4C;
    font-weight: normal;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    outline: none;
    border: none;
}

.ui-widget.ui-widget-content {
    margin-top: 15px;
    margin-bottom: 5px;
}

.ui-slider-horizontal .ui-slider-handle {
    top: -.7em;
    margin-left: -.6em;
}

.pounds {
    position: relative;
    z-index: 101;
    display: inline-block;
    width: 30px;
    text-align: center;
}

/* Radios and checkboxes */

label.btn span {
    font-size: 1.1em;
    margin-left: 5px;
}

label input[type="radio"] ~ i.fa.fa-circle-o {
    color: #c8c8c8;
    display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-circle-o {
    display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o {
    color: #003D4C;
    display: inline;
}

label:hover input[type="radio"] {
    color: #666C71;
}

    label:hover input[type="radio"] ~ i.fa {
        color: #003D4C;
    }

div[data-toggle="buttons"] label.active {
    color: #666C71;
}

div[data-toggle="buttons"] label {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: normal;
    line-height: 2em;
    text-align: left;
    white-space: nowrap;
    vertical-align: top;
    cursor: pointer;
    background-color: none;
    border: 0px solid #c8c8c8;
    border-radius: 3px;
    color: #c8c8c8;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

    div[data-toggle="buttons"] label:hover {
        color: #666C71;
    }

    div[data-toggle="buttons"] label:active, div[data-toggle="buttons"] label.active {
        -webkit-box-shadow: none;
        box-shadow: none;
    }

.calc .btn-group-vertical > .btn,
.calc .btn-group-vertical > .btn-group,
.calc .btn-group-vertical > .btn-group > .btn {
    display: inline-block;
    float: none;
    width: 50%;
    max-width: 50%;
}

.btn-group-horizontal label {
    float: left;
}

.form-note {
    display: inline-block;
}

p.reset {
    float: right;
    margin-top: -32px
}

.reset a {
    color: #FFF;
    font-size: 0.8em;
}

/*Blue button chrome fix*/ 
button:focus {
    outline: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input {

}


input.parsley-error {
    background: pink;
}

input.parsley-success {
    background: palegreen;
}

ul.parsley-errors-list {
    list-style: none;
    color: red;
    position:absolute;
    padding:0;
    font-size:13px;
}

ul.parsley-errors-list li {
    margin:0;
}